
.all-products__text-wrap{
	background-color: #fff;
	display: flex;
	flex-direction: column;
	border-radius: 0.2rem;
	padding: 5rem 3rem;
	transition: .3s;
	flex-grow: 1;
	&:hover {
		box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
	}
	@include bp-md{
		font-size: 1.4rem;
	}
	.all-products__img {
		max-height: 100%;
		width: auto !important;
		height: auto;
	}
}
.all-product-wrap {
	position: relative;
	height: 20rem;
	display: flex;
	justify-content: center;
	align-items: center;
	@include bp-md {
		height: 17.8rem;
	}
	.product__item-color {
		position: absolute;
		display: none;
		width: auto !important;
		left: 1rem;
		bottom: 2rem;
	}
	.product__item-active {
		display: block;
	}
}
.all-products__title{
	font-family: 	$boldFont;
	flex-basis: 6rem;
	margin-top: 1rem;	
	margin-bottom: 1rem;	
	@include bp-md{
		font-size: 2rem;
	}
}

.all-products__text{
	color: $color4;
	flex-grow: 1;
	max-height: 8rem;
	overflow: hidden;
}
.all-products__price-wrap {
	margin-top: auto;
}
.all-products__price{
	margin-top: 3.2rem;	
	display: inline-block;	
	font-family: 	$boldFont;
	color: $color2;
	margin-right: 1.6rem;	
}
.all-products__price--cross{
	font-family: 	$boldFont;
	position: relative;
	display: inline-block;
	@include bp-md{
		font-size: 2rem;
	}
}
.all-products__price--cross:before{
	content: '';
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 1rem;
	background: $color5;
	height: 0.2rem;
	@include bp-md{
		font-size: 2rem;
	}
}
.all-products .owl-nav{
	position: absolute;
	right: 0;
	top: -6.4rem;
	margin-top: 0;
}
.all-products .owl-nav button{
	width: 4.4rem;
	height: 4.4rem;
	padding: 0;
	margin: 0;
	outline: none;
	&[class*=owl-]:hover {
		border: 0.2rem solid $color2;
		border-radius: 0.2rem;
		background: $color2;
		svg path{
			fill: #fff;
		}
	}
}
.all-products{
	margin-top: 6.4rem;
	@include bp-md {
		margin-top: 10.4rem;
	}
}
.all-products.owl-theme .owl-nav button{
	border: 0.2rem solid $color2;
	border-radius: 0.2rem;
	background: none;
	svg path{
		fill: $color2;
	}
}
.all-products.owl-theme .owl-nav .disabled{
	border: 2px solid #DDDDDD;
	opacity: 1;
	pointer-events: none;
	svg path{
		fill: #DDDDDD;
	}
}
.owl-prev svg path{
	margin-right: 4px;
}
.all-products .owl-stage,
.all-products .owl-item{
	display: flex;
}
.all-products__wrap-title {
	font-family: 	$boldFont;
	font-weight: bold;
	position: absolute;
	left: 0;
	top: -6.4rem;
	@include bp-md{
		font-size: 2.6rem;
	}
}
.all-products__wrap{
	position: relative;
}
.all-products__wrap-btn{
}
.all-products__btn-wrap{
}
.all-products__wrap{
	padding-bottom: 8rem;
	margin-top: 4.4rem;
	@include bp-md{
		padding-bottom: 0rem;
	}
	/*@include bp-md{
		&:last-child {
			padding-bottom: 2.4rem;
		}
		padding-bottom: 0rem;
	}*/
}
.all-products-wrapper .owl-stage{
	padding-left: 0 !important;
}
.all-products-wrapper{
	max-width: 1440px;
	margin: 0 auto;
	padding: 0 12rem;
	@include bp-md{
		padding: 0 0 5rem 1.6rem;
	}
	&.last {
		.all-products__wrap {
			@include bp-md{
				padding-bottom: 4rem;
    			margin-top: 4.4rem;
			}
		}
	}
}