.title__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h2 {
    margin: 0;
    @include bp-md {
      font-size: 2.6rem;
    }
  }
  ul {
    @include bp-md {
      display: none;
    }
  }
  li {
    display: flex;
    justify-content: space-between;
  }
}
.checkout__title {
  margin-top: 3rem !important;
}
.order1 {
  padding-right: 4.7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  &:before {
    content: '';
    position: absolute;
    width: 99%;
    left: 41%;
    top: 25%;
    border-bottom: 3px dotted $color2;
  }
  span {
    width: 1.6rem;
    height: 1.6rem;
    background: $color2;
    border-radius: 50%;
  }
}

.order2 {
  padding-right: 7.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  &:before {
    content: '';
    position: absolute;
    width: 67%;
    left: 38%;
    top: 25%;
    border-bottom: 3px dotted #DDDDDD;
  }
  span {
    width: 1.6rem;
    height: 1.6rem;
    background: $color2;
    border-radius: 50%;
  }
}

.order3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  span {
    width: 1.6rem;
    height: 1.6rem;
    background: #DDD;
    border-radius: 50%;
  }
}
.order__active {
  span {
    background: $color3;
  }

}
.active__order {
  &:before {
    border-bottom: 3px dotted $color2;
  }
}
.checkout__wrapper {
  margin-top: 2rem;
  padding-bottom: 7rem;
  display: flex;
  justify-content: space-between;
  @include bp-md {
    margin-right: -1.6rem;
    margin-left: -1.6rem;
    flex-wrap: wrap;
  }
}

.checkout__content {
  padding: 2.5rem 3.2rem 6rem 3.2rem;
  width: 66%;
  background: #fff;
  @include bp-md {
    width: 100%;
    padding-right: 1.6rem;
    padding-left: 1.6rem;
  }

  h3 {
    margin: 0;
    margin-bottom: 2.5rem;
    font-weight: 700;
  }
}
.checkout__input__wrap {
  padding-bottom: 4rem;
  border-bottom: 1px solid #DDDDDD;
  .check__title {
    color: $color4;
  }
  @include bp-md {
    padding-bottom: 0;
  }
}
.form__item {
  display: flex;
  @include bp-md {
    flex-wrap: wrap;
  }
}

.form__item__input {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  width: 100%;

  p {
    color: $color4;

    margin-bottom: .4rem;
  }

  span {
    margin-left: .5rem;
    color: #CF2520;
  }

  input {
    padding: 1rem 0 1rem 1.2rem;
    background: #fff;
    border: 1px solid #DDDDDD;
    border-radius: 2px;
    
    &:focus {
      outline-color: -webkit-focus-ring-color;
      outline-style: auto;
      outline-width: 1px;
      appearance: none;
      outline-color: rgb(0, 0, 0);
    }
  }
  input[name="name"] {
    margin-right: 0;
  }
}
.span-error {
  margin-left: .5rem;
  color: #CF2520;
}
.first__radio__item {
  @include bp-md {
    margin-bottom: 0;
  }
}
.item__left {
  margin-right: 2.4rem;
  @include bp-md {
    margin-right: 0;
  }
}
.radio__input {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;


  label {
    display: flex;
    cursor: pointer;
    position: relative;
    @include bp-md {
      align-items: center;
    }
  }

  input[type="radio"] {
    display: none;
  }
  /* simulate radiobutton appearance using pseudoselector */
  input[type="radio"] + label:before {
    content: "";
    display: inline-block;
    position: absolute;
    /* create custom radiobutton appearance */
    width: 1.1rem;
    height: 1.1rem;
    padding: 3px;
    margin-right: 1rem;
    /* background-color only for content */
    background-clip: content-box;
    border: 1px solid #DDDDDD;
    background-color: #fff;
    border-radius: 50%;
  }

  /* appearance of checked radiobutton */
  input[type="radio"]:checked + label:before {
    background-color: $color2;
  }

}
.delivery__content {
  margin-left: 3.2rem;
  span {
    color: $color1;
    margin-left: 0;
  }
  p {
    margin-top: 1.5rem;
    color: $color6;
    @include bp-md {
      display: none;
    }
    &:last-child {
      margin-top: 0;
    }

    span {
      margin-left: .5rem;
      color: $color6;
      font-weight: 700;
    }
  }
}
.town__input {
  margin-right: 0;
  position: relative;
}

.order__location-container {
  position: absolute;
  top: calc(100% - 1px);
  left: 0;
  width: 100%;
  display: none;
}
.order__location-scrollable {
  position: relative;
  display: block;
  width: 100%;
  border: 1px solid #ccc;
  background-color: #fff;
  box-sizing: border-box;
  z-index: 1;
  overflow: hidden;
  cursor: default;
}
.order__location-scrollable.scrollable {
  max-height: 200px;
}
.scrollable__wrapper {
  width: 100%;
  height: 100%;

}
.order__location-list {
  padding: 5px;
  width: calc(100% + 5px);
}
.order__location-element {
  display: inline-flex;
  align-items: center;
  margin-bottom: 5px;
  padding: 10px 5px;
  width: 100%;
  white-space: nowrap;
  box-sizing: border-box;
  overflow: hidden;
  cursor: pointer;
}
.order__location-element-search {
  background: #f15f39;
  color: #fff;
}

.order__location-list {
  padding: 5px;
  width: calc(100% + 5px);
}
.scrollable__content {
  user-select: none;
}
.order__location-element {
  display: inline-flex;
  align-items: center;
  margin-bottom: 5px;
  padding: 10px 5px;
  width: 100%;
  white-space: nowrap;
  box-sizing: border-box;
  overflow: hidden;
  cursor: pointer;
}
.input__address {
  margin-right: 2.4rem;
  flex-basis: 66.6%;
  @include bp-md {
    flex-basis: 100%;
    margin-right: 0;
  }
}
.input__index {
  flex-basis: 33.3%;
  @include bp-md {
    flex-basis: 100%;
  }
}

.payment__input {
  &:not(:last-child) {
    margin-right: 2.4rem;
    @include bp-md {
      margin-right: 0;
    }
  }
  .input-hidden {
    position: absolute;
    left: -9999px;
  }
  input[type=radio] + label {
    padding: 1.5rem 1rem 1.8rem 1.6rem;
    display: flex;
    align-items: center;
    border: 1px solid #DDDDDD;
    border-radius: 2px;
    transition: 300ms all;
    cursor: pointer;
  }

  input[type=radio] + label>img {
    margin-right: 1.2rem;
  }

  input[type=radio]:checked + label {
    border: 1px solid $color2;
  }
  input[type=radio]:checked + label>p {
    color: $color1;
    font-weight: 700;
  }
  input[type=radio] + label:hover {
    border: 1px solid $color6;
  }
}
.payment__desc {
  margin-top: 2rem;
  padding: 1.5rem 2.8rem 1.5rem 2rem;
  display: flex;
  background: #F5F5F5;
  border: 1px solid #F5F5F5;
  border-radius: 2px;
  position: relative;
  &:before {
    content: "";
    width: 2rem;
    height: 2rem;
    background-color: #F5F5F5;
    border-top: solid 1px #F5F5F5;
    border-left: solid 1px #F5F5F5;
    display: block;
    transform: rotate(45deg);
    position: absolute;
    top: -1.1rem;
    left: 10rem;
  }
  @include bp-md {
    display: none;
  }
}
.warning__field {
  margin-top: 2rem;
  margin-left: 2rem;
  display: flex;
  align-items: center;
  img {
    margin-right: 1.35rem;
  }
  p {
    color: $color5;
    font-weight: 700;
  }
  @include bp-md {
    margin-top: 0;
    margin-left: 0;
    display: flex;
    align-items: flex-start;
    margin-bottom:25px;
  }
}
.input__comment {
  textarea {
    resize: none;
    border: 1px solid #DDDDDD;
    border-radius: 2px;
  }
}
.checkout__accept {
  cursor: pointer;
  .aside-filters-input ~ .aside-filters-label {
    align-items: flex-start;
  }
}
.input__submit {
  margin-top: 4rem;
  display: flex;
  align-items: center;
  @include bp-md {
    display: none;
  }
  .btn-primary {
    margin-right: 2.4rem;
    padding: .9rem 3.2rem;
    border-radius: 4px;
    color: #fff;
  }
  p {
    color: $color4;
  }
}


.checkout__info {
  flex-basis: 30%;
  @include bp-md {
    padding-top: 1rem;
    flex-basis: 100%;
  }
}
.info__wrapper {
  position: sticky;
  right: 0;
  top: 0;
  padding: 2.5rem 3rem 3rem 3rem;
  background: #fff;
  @include bp-md {
    padding-left: 1.6rem;
    padding-right: 1.6rem;
  }
}
.info__title {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h4 {
    margin: 0;
  }

  a {
    color: #A2A2A2;
    border-bottom: 1px dashed #A2A2A2;
  }
}
.info__product {
  padding-top: 1.5rem;
  padding-bottom: 1.2rem;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #DDDDDD;

  .name {
    color: $color3;
  }
  .desc {
    color: $color6;
  }
  .item__sale__price {
    color: $color5;
  }
}

.checkout__data {
  .form__item {
    margin-bottom: 2rem;
  }
  h4 {
    margin: 0;
    font-weight: 400;
  }
}

.checkout__comment {
  margin-top: 3.2rem;
  span {
    color: $color4;
  }
  p {
    margin-bottom: 5.6rem;
    @include bp-md {
      margin-bottom:0;
    }
  }
  .btn-primary {
    padding: .9rem 3.2rem;
    color: #fff;
    border-radius: 4px;
    @include bp-md {
      display: none;
    }
  }
}
.aside__submit {
  display: none;
  @include bp-md {
    display: flex;
    width: 100%;
    .btn-primary {
      margin-right: 1.6rem;
      margin-left: 1.6rem;
      width: 100%;
      text-align: center;
    }
  }
}

input[name="phone"], input[name="address"]{
  &::placeholder {
    color: #DDDDDD;
    font-size: 1.6rem;
  }
}

input, textarea {
  font: 400 1.6rem $mainFont;
  color: #333;
}

.form__error-active {
  input, textarea {
    border: 1px solid #CF2520;
  }
  .input_error {
    display: block;
  }
  .input__wrap-icon {
    .error__icon {
      display: block;
    }
  }
}

.location-search-input {
  &::placeholder {
    padding-right: 2rem;
  }
}

.non__active-payment {
  pointer-events: none;
}

.input_error {
  color: #CF2520 !important;
  margin-top: .2rem;
  margin-left: .5rem;
  display: none;
}

.input__wrap-icon {
  display: flex;
  flex-direction: column;
  position: relative;
  .error__icon {
    width: 14px;
    height: 14px;
    position: absolute;
    right: 10px;
    top: 25%;
    display: none;
    img {
      max-width: 100%;
    }
  }
}