//common style for footer
.footer{
	background: $color1;
	color: $color4;
	padding-top: 4rem;
}
.footer__wrap{
	max-width: 1440px;
	margin: auto;
	padding: 0 12rem;
}
.footer__row{
	display: flex;
	justify-content: space-between;
}
.footer span{
	display: block;
}
.footer__title{
	color: $color6;
	padding-bottom: 1.8rem;
}
.footer__menu-list{
	padding: 0;
	margin: 0;
	list-style-type: none;
}
.footer__menu-item{
	padding-bottom: 1.6rem;
}
.footer__col{
	margin: 1rem;
	margin-bottom: 0;
}
.footer__col-about {
	margin-left: 0;
}

//about block
.footer__about-link--policy,
.footer__about-link--perdata{
	display: inline-block;
	border-bottom: 0.1rem solid $color4;
}
.footer__about-link--perdata{
	margin-bottom: 5rem;
}
.footer__about-text,
.footer__about-img--logo{
	padding-bottom: 0.8rem;
	color: $color6;
}
.footer__about-text--copy{
	padding-bottom: 8rem;
}
.footer__about-link--policy{
	margin-bottom: 1.6rem;
}

//ref block
.footer__ref-link--tel{
	font-family: $boldFont;
	color: $color6;
	font-size: 1.8rem;
}
.footer__ref-text--adress{
	max-width: 17rem;
	padding-bottom: 1.3rem;
	font-style: normal;
}
.footer__ref-link--que{
	margin-bottom: 1.6rem;
}
.footer__ref-link--que,
.footer__ref-link--call{
	display: inline-block;
	border-bottom: 0.1rem dashed $color4;
}

//img block
.footer__col-img--icon{
	align-items: flex-end;
	display: flex;
}

//footer-bottom block
.footer-bottom{
	background: rgba(0,0,0,0.1);
	padding: 2rem 0;
}
.footer  .footer-bottom__text--dev{
	display: inline-block;
	padding-right: 1rem;
}

//media
@include bp-md{
	.footer__row{
		flex-direction: column;
		align-items: center;
	}
	.footer__col{
		margin-bottom: 1rem;
		width: 26.5rem;
	}
	.footer__col-img,
	.footer .footer__about-text,
	.footer .footer-bottom__text--age,
	.footer__ref-link--call,
	.footer__col-ref .footer__title{
		display: none;
	}
	.footer__about-text--copy{
		padding-bottom: 1.5em;
	}
	.footer__about-link--perdata{
		margin-bottom: 1.5rem;
	}
	.footer__about-link--policy{
		margin-bottom: 1rem;
	}
	.footer__ref-text--adress{
		max-width: 100%;
		color: $color6;
	}
	.footer__ref-link--que{
		border: 1px solid $color6;
		text-align: center;
		color: $color6;
		padding: 1.2rem;
		display: block;
		border-radius: 4px;
		margin-bottom: 1.5rem;
	}
	.footer__ref-text--adress{
		margin-bottom: 2.0rem;
	}
}
.footer-bottom__wrap{
	@include bp-md{
		width: 26.5rem;
		margin: 0 auto;
		padding: 0;
		max-width: 100%;
		text-align: left;
		.footer-bottom__row{
			align-items: normal;
		}
	}
}