//common style for footer
.footer{
	background: $color1;
	color: $color4;
	padding-top: 40px;
	font-size: 1.4rem;
}
.footer__wrap{
	max-width: 1440px;
	margin: auto;
}
.footer__row{
	display: flex;
	justify-content: space-between;
}
.footer span{
	display: block;
}
.footer__title{
	font-size: 2rem;
	color: $color6;
	padding-bottom: 18px;
}
.footer__menu-list{
	padding: 0;
	margin: 0;
	list-style-type: none;
}
.footer__menu-item{
	padding-bottom: 16px;
}

//about block
.footer__about-link--policy,
.footer__about-link--perdata{
	display: inline-block;
		border-bottom: 1px solid $color4;
}
.footer__about-link--perdata{
	margin-bottom: 50px;
}
.footer__about-text,
.footer__about-img--logo{
	padding-bottom: 8px;
	color: $color6;
}
.footer__about-text--copy{
	padding-bottom: 80px;
}
.footer__about-link--policy{
	margin-bottom: 16px;
}

//ref block
.footer__ref-link--tel{
	font-size: 2.4rem;
	font-family: $boldFont;
	color: $color6;
}
.footer__ref-text--adress{
	width: 170px;
	padding-bottom: 13px;
	font-style: normal;
}
.footer__ref-link--que{
	margin-bottom: 16px;
}
.footer__ref-link--que,
.footer__ref-link--call{
	display: inline-block;
	border-bottom: 1px dashed $color4;
}

//img block
.footer__col-img--icon{
	align-items: flex-end;
	display: flex;
}

//footer-bottom block
.footer-bottom{
	background: rgba(0,0,0,0.1);
	padding: 20px 0;
}
.footer  .footer-bottom__text--dev{
	display: inline-block;
	padding-right: 10px;
}