.header__top {
  background: $color2;
  color: #fff;
}

.header__wrap {
  margin: 0 auto;
  padding: 1.6rem 12rem;
  max-width: 1440px;
  display: flex;
  justify-content: center;

  a {
    border-bottom: 1px dotted #fff;
  }

  &__location {
    margin-right: auto;
    display: flex;
    align-items: center;
  }

  &__info {
    display: flex;
    align-items: center;
  }
  .info__mobile {
    margin-right: 3.2rem;
    display: flex;
    align-items: center;
  }

  &__login {
    margin-left: auto;
    display: flex;
    align-items: center;
  }

}

.header__middle {
  margin: 0 auto;
  padding: 3rem 12rem;
  max-width: 1440px;
}
.middle__wrap {
  display: flex;
  align-items: center;

  &__logo {
    margin-right: auto;
  }

  &__search {
    display: flex;
    align-items: center;
  }
  .search__wrap {
    display: flex;
    align-items: center;
    width: 63.6rem;
    background: #EBEBEB;
    border: 1px solid #DDDDDD;
    border-radius: 4px;

    @include bp-lg {
      width: 40rem;
    }

    .search__button {
      background: transparent;
      border: 0;
      outline: 0;
      cursor: pointer;
    }

    .search__input {
      border: 0;
      outline: 0;
      background: transparent;
      cursor: pointer;
    }
  }

  .basket__link {
    margin-left: auto;
  }
  &__basket {
    margin-left: auto;
    display: flex;
    align-items: center;
  }
  .basket__logo {
    margin-right: 1rem;
  }
  .basket__info {
    &__count {
      color: $color4;
    }
  }
}

.header__bottom {
  margin: 0 auto;
  padding: 3rem 12rem;
  max-width: 1440px;
}
.bottom__wrap {
  .nav {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #DDDDDD;
    li {
      padding-bottom: 2.4rem;
    }
    .menu__active {
      border-bottom: 4px solid #192C5A;

      a {
        color: #192C5A;
      }
    }
  }
}

.breadcrumbs__wrap {
  margin-top: 1.6rem;
}
.breadcrumbs {
  display: flex;

  &__item {
    color: $color4;
    padding-left: 8px;
    &:not(:last-child):after {
      content: '/';
      font-size: 1.4rem;
      padding-left: 8px;
    }
  }
}

//mobile
@include bp-md {
  .header {
    display: none;
  }
  .header__mobile {
    background: $color2;
    padding: 1.5rem 1.9rem;
    position: relative;
    display: flex;

    .mobile__left {
      margin-left: auto;
      .person__mobile {
        margin-right: 3.1rem;
      }
    }
  }
}


.toggle-menu {
  margin-right: 2rem;
  width: 40px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 2px 2px 2px 3px;
  border-radius: 5px;
  cursor: pointer;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.line {
  width: 100%;
  height: 3px;
  border-radius: 5px;
  background-color: #fff;
  transition: transform 0.2s ease-out;
  -webkit-transition: transform 0.2s ease-out;
  -moz-transition: transform 0.2s ease-out;
  -ms-transition: transform 0.2s ease-out;
  -o-transition: transform 0.2s ease-out;
}

.toggle .line1 {
  background-color: #fff;
  transform: scale(0.9) rotateZ(-45deg) translate(-6px, 4px);
}

.toggle .line2 {
  display: none;
}

.toggle .line3 {
  background-color: #fff;
  transform: scale(0.9) rotateZ(45deg) translate(-6px, -4px);
}


.toggle__open__mobile {
  margin-top: 1rem;
  display: none;
  position: absolute;
  background: #fff;
  width: 100%;
  z-index: 10;
  left: 0;
}
.toggle .toggle__open__mobile {
  display: block;
}

.nav-list {
  list-style: none;
}

.nav-list-item {
  padding: 1.9rem 2rem 1.9rem 1.6rem;
  position: relative;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #DDDDDD;
  &:after {
    content: '';
    background-image: url("/src/assets/images/Chevron-right.png");
    position: absolute;
    width: 1.6rem;
    height: 1.6rem;
    right: 0;
    margin-right: 2rem;
  }
}

.nav-link {
  color: #333;
  font-size: 2rem;
  text-decoration: none;
  position: relative;
  padding-bottom: 4px;
}

.nav-link::before {
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #fff;
  transform: scaleX(0);
  transition: transform 0.4s ease-in-out;
  transform-origin: left;
  -webkit-transition: transform 0.4s ease-in-out;
  -moz-transition: transform 0.4s ease-in-out;
  -ms-transition: transform 0.4s ease-in-out;
  -o-transition: transform 0.4s ease-in-out;
}

.nav-link:hover::before {
  transform: scaleX(1);
}
.mobile__wrap {
  background: #F5F5F5;
  padding: 4.7rem 2rem;
}
.mobile__locate {
  display: flex;
  align-items: center;

  img {
    margin-right: 1rem;
  }
  span {
    margin-right: 1.6rem;
  }
}
.mobile__phone {
  margin-top: 3rem;
  display: flex;
  align-items: center;

  img {
    margin-right: 1rem;
  }
  a {
    margin-right: 1.6rem;
  }
}

.logo__mobile {
  color: #fff;
}