.header__top {
  margin: 0 auto;
  padding: 1.6rem 12rem;
  max-width: 1440px;
  background: $color2;
  color: #fff;
}
.header__wrap {
  display: flex;
  justify-content: center;

  a {
    border-bottom: 1px dotted #fff;
  }

  &__location {
    margin-right: auto;
    display: flex;
    align-items: center;
  }

  &__info {
    display: flex;
    align-items: center;
  }
  .info__mobile {
    margin-right: 3.2rem;
    display: flex;
    align-items: center;
  }

  &__login {
    margin-left: auto;
    display: flex;
    align-items: center;
  }

}

.header__middle {
  margin: 0 auto;
  padding: 3rem 12rem;
  max-width: 1440px;
}
.middle__wrap {
  display: flex;
  align-items: center;

  &__logo {
    margin-right: auto;
  }

  &__search {
    display: flex;
    align-items: center;
  }
  .search__wrap {
    display: flex;
    align-items: center;
    width: 63.6rem;
    background: #EBEBEB;
    border: 1px solid #DDDDDD;
    border-radius: 4px;

    .search__button {
      background: transparent;
      border: 0;
      outline: 0;
      cursor: pointer;
    }

    .search__input {
      border: 0;
      outline: 0;
      background: transparent;
      cursor: pointer;
    }
  }

  .basket__link {
    margin-left: auto;
  }
  &__basket {
    margin-left: auto;
    display: flex;
    align-items: center;
  }
  .basket__logo {
    margin-right: 1rem;
  }
  .basket__info {
    &__count {
      color: $color4;
    }
  }
}

.header__bottom {
  margin: 0 auto;
  padding: 3rem 12rem;
  max-width: 1440px;
}
.bottom__wrap {
  .nav {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #DDDDDD;
    li {
      padding-bottom: 2.4rem;
    }
    .menu__active {
      border-bottom: 4px solid #192C5A;

      a {
        color: #192C5A;
      }
    }
  }
}

.breadcrumbs__wrap {
  margin-top: 1.6rem;
}
.breadcrumbs {
  display: flex;

  &__item {
    color: $color4;
    padding-left: 8px;
    &:not(:last-child):after {
      content: '/';
      font-size: 1.4rem;
      padding-left: 8px;
    }
  }
}
