.all-products-wrapper
  section.all-products__wrap
    span.all-products__wrap-title.size-2 Популярное
    .owl-carousel.owl-theme.mainpage-all-products.all-products.all-products--pop
      a.all-products__text-wrap(href="#")
        .all-product-wrap
          img.all-products__img(src="/src/assets/images/all-products1.jpg")
          img.product__item-color.product__item-active(src="/src/assets/images/Palette.svg")
        h3.all-products__title.size-3 Flutex 5
        p.all-products__text.size-5 Чрезвычайно крепкое, хорошо моющееся и при этом матовое покрытие. Не меняет степени блеска от прикосновений и...
        div.all-products__price-wrap
          span.all-products__price.size-3 2 500  ₽/м
            sup 2
          span.all-products__price--cross.size-5 2 500  ₽/м
            sup 2
      a.all-products__text-wrap(href="#")
        img.all-products__img(src="/src/assets/images/all-products2.jpg")
        h3.all-products__title.size-3 Interior 90
        p.all-products__text.size-5 Чрезвычайно крепкое, хорошо моющееся и при этом матовое покрытие. Не меняет степени блеска от прикосновений и...
        div.all-products__price-wrap
          span.all-products__price.size-3 2 500  ₽/м
            sup 2
      a.all-products__text-wrap(href="#")
        img.all-products__img(src="/src/assets/images/all-products3.jpg")
        h3.all-products__title.size-3 Wet Room Paint
        p.all-products__text.size-5 Чрезвычайно крепкое, хорошо моющееся и при этом матовое покрытие. Не меняет степени блеска от прикосновений и...
        div.all-products__price-wrap
          span.all-products__price.size-3 2 500  ₽/м
            sup 2
          span.all-products__price--cross.size-5 2 500  ₽/м
            sup 2
      a.all-products__text-wrap(href="#")
        img.all-products__img(src="/src/assets/images/all-products4.jpg")
        h3.all-products__title.size-3 Interior Stop Primer
        p.all-products__text.size-5 Чрезвычайно крепкое, хорошо моющееся и при этом матовое покрытие. Не меняет степени блеска от прикосновений и...
        div.all-products__price-wrap
          span.all-products__price.size-3 2 500  ₽/м
            sup 2   
      a.all-products__text-wrap(href="#")
        img.all-products__img(src="/src/assets/images/all-products4.jpg")
        h3.all-products__title.size-3 Interior Stop Primer
        p.all-products__text.size-5 Чрезвычайно крепкое, хорошо моющееся и при этом матовое покрытие. Не меняет степени блеска от прикосновений и...
        div.all-products__price-wrap
          span.all-products__price.size-3 2 500  ₽/м
            sup 2    
    .all-products__btn-wrap.btnwrap--green
      a.btn.all-products__wrap-btn.btn--green(href="#") Посмотреть все