footer.footer.size-6
	.footer__wrap.footer__wrap
		.footer__row.footer-top__row

			.footer__col.footer__col-about
				span.footer__about-text Официальный дилер
				img.footer__about-img--logo(src="/src/assets/images/logo.png")
				span.footer__about-text--copy © 2010 – 2020 ООО «Асиома»
				a.footer__about-link--policy(href="#") Политика конфиденциальности
				div
				a.footer__about-link--perdata(href="#") Обработка персональных данных

			.footer__col.footer__col-ref
				span.footer__title.size-4 Единая справочная
				a.footer__ref-link--tel(href="tel:8 800 214-67-77") 8 800 214-67-77
				address.footer__ref-text--adress г. Новосибирск, Красный проспект, д. 101
				a.footer__ref-link--que.size-5.call-us-modal(href="#question") Задать вопрос
				div
				a.footer__ref-link--call.size-5.call-us-modal(href="#call-us") Заказать звонок

			.footer__col.footer__col-cat
				span.footer__title.size-4 Каталог товаров
				ul.footer__menu-list
					li.footer__menu-item
						a.footer__menu-link(href="#") Для помещений
					li.footer__menu-item
						a.footer__menu-link(href="#") Для улицы
					li.footer__menu-item
						a.footer__menu-link(href="#") Инструменты
					li.footer__menu-item
						a.footer__menu-link(href="#") Очистка
					li.footer__menu-item
						a.footer__menu-link(href="#") Подарочные карты

			.footer__col.footer__col-cat
				span.footer__title.size-4 Информация
				ul.footer__menu-list
					li.footer__menu-item
						a.footer__menu-link(href="#") Статьи
					li.footer__menu-item
						a.footer__menu-link(href="#") Оплата и доставка
					li.footer__menu-item
						a.footer__menu-link(href="#") Адреса магазинов
					li.footer__menu-item
						a.footer__menu-link(href="#") О компании
					li.footer__menu-item
						a.footer__menu-link(href="#") Юр. лицам
					li.footer__menu-item
						a.footer__menu-link(href="#") Контакты
			.footer__col.footer__col-img.footer__col-img--icon
				img.footer__img-img--painter(src="/src/assets/images/painter.png")
	.footer-bottom
		.footer-bottom__wrap.footer__wrap
			.footer__row.footer-bottom__row
				.footer-bottom__col
					span.footer-bottom__text--age Категория информации 12+
				.footer-bottom__col
					span.footer-bottom__text--dev Разработано
					a.footer-bottom__link--dev(href="#")
						img.footer-bottom__img--dev(src="/src/assets/images/dev-logo.png")
ul
	li
		a.size-3(href="index.html")
			| main
	li
		a.size-3(href="/catalog.html")
			|catalog
	li
		a.size-3(href="/catalog1.html")
			| catalog1
	li
		a.size-3(href="/catalog2.html")
			| catalog2
	li
		a.size-3(href="/contacts.html")
			| contacts
	li
		a.size-3(href="/product1.html")
			| product1
	li
		a.size-3(href="/product2.html")
			| product2
	li
		a.size-3(href="/checkout.html")
			| checkout1
	li
		a.size-3(href="/checkout2.html")
			| checkout2
	li
		a.size-3(href="/cart.html")
			| cart
	li
		a.size-3(href="/palette1.html")
			| palette1
	li
		a.size-3(href="/palette2.html")
			| palette2
	li
		a.size-3(href="/palette3.html")
			| palette3