.our-team-wrap
  .our-team-wrap__title
    |Наша команда
  .our-team-wrap__items
    .our-team-wrap__items__item
      .our-team-wrap__items__item__image
        img(src="/src/assets/images/our-team-1.jpg")
      .our-team-wrap__items__item__title
        | Яровая Лотфия
      .our-team-wrap__items__item__position
        | Директор
      .our-team-wrap__items__item__mail
        a(href="mailto:yarovaya@asioma.ru")
          | yarovaya@asioma.ru
    .our-team-wrap__items__item
      .our-team-wrap__items__item__image
        img(src="/src/assets/images/our-team-2.jpg")
      .our-team-wrap__items__item__title
        | Яровой Игорь
      .our-team-wrap__items__item__position
        | Специалист по развитию бизнеса
      .our-team-wrap__items__item__mail
        a(href="mailto:yarovoy@asioma.ru")
          | yarovoy@asioma.ru
    .our-team-wrap__items__item
      .our-team-wrap__items__item__image
        img(src="/src/assets/images/our-team-3.jpg")
      .our-team-wrap__items__item__title
        | Мелеховский Алексей
      .our-team-wrap__items__item__position
        | Менеджер по логистике
      .our-team-wrap__items__item__mail
        a(href="mailto:melihovskiy@asioma.ru")
          | melihovskiy@asioma.ru
    .our-team-wrap__items__item
      .our-team-wrap__items__item__image
        img(src="/src/assets/images/our-team-4.jpg")
      .our-team-wrap__items__item__title
        | Постников Олег
      .our-team-wrap__items__item__position
        | Менеджер по продажам
      .our-team-wrap__items__item__mail
        a(href="mailto:postnikov@asioma.ru")
          | postnikov@asioma.ru