doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
        block title
            title webpack Project

    body
        include ../common/mixins
        include ../common/header
        .main-wrapper
            .catalog__wrapper
                section
                    aside
                        h4.size-5.catalog__name
                            |Для работы в помещениях
                        ul.menu__catalog
                            li.menu__catalog__item
                                a.size-6(href="#")
                                    |Для влажных помещений
                            li.menu__catalog__item
                                a.size-6(href="#")
                                    | Для грунтования
                            li.menu__catalog__item
                                a.size-6(href="#")
                                    | Для дерева и мебели
                            li.menu__catalog__item
                                a.size-6(href="#")
                                    | Для металла
                            li.menu__catalog__item
                                a.size-6(href="#")
                                    | Для пола
                            li.menu__catalog__item
                                a.size-6(href="#")
                                    | Для потолка
                            li.menu__catalog__item
                                a.size-6(href="#")
                                    | Для стен
                            li.menu__catalog__item
                                a.size-6(href="#")
                                    | Для шпатлевания
                        a.size-5.catalog__link(href="#")
                            |Для декора и дизайна
                        a.size-5.catalog__link(href="#")
                            | Для работы на улице
                        a.size-5.catalog__link(href="#")
                            | Инструменты и материалы
                    aside.aside-filters
                      .aside-filters-popup.show
                        span Найдено товаров: 11
                        a(href="") Показать
                      .aside-filters-inner
                        span.aside-filters-title Свойства
                        .aside-filters-input-wrap
                          input.aside-filters-input(type="checkbox" value="Адгезионная" checked="checked" name="properties" id="properties-1")
                          label.aside-filters-label(for="properties-1") Адгезионная
                        .aside-filters-input-wrap
                          input.aside-filters-input(type="checkbox" value="Антибактериальная" name="properties" id="properties-2")
                          label.aside-filters-label(for="properties-2") Антибактериальная
                        .aside-filters-input-wrap
                          input.aside-filters-input(type="checkbox" value="Блокирующие пятна" checked="checked" name="properties" id="properties-3")
                          label.aside-filters-label(for="properties-3") Блокирующие пятна
                        .aside-filters-input-wrap
                          input.aside-filters-input(type="checkbox" value="Влагостойкая" name="properties" id="properties-4")
                          label.aside-filters-label(for="properties-4") Влагостойкая
                        .aside-filters-input-wrap
                          input.aside-filters-input(type="checkbox" value="Водоустойчивая" name="properties" id="properties-5")
                          label.aside-filters-label(for="properties-5") Водоустойчивая
                        .aside-filters-input-wrap
                          input.aside-filters-input(type="checkbox" value="Декоративная" checked="checked" name="properties" id="properties-6")
                          label.aside-filters-label(for="properties-6") Декоративная
                        .aside-filters-input-wrap
                          input.aside-filters-input(type="checkbox" value="Резистентная" name="properties" id="properties-7")
                          label.aside-filters-label(for="properties-7") Резистентная
                        .aside-filters-input-wrap
                          input.aside-filters-input(type="checkbox" value="Универсальная" name="properties" id="properties-7")
                          label.aside-filters-label(for="properties-7") Универсальная

                      .aside-filters-inner
                        span.aside-filters-title Основа
                        .aside-filters-input-wrap
                          input.aside-filters-input(type="checkbox" value="Акриловая" checked="checked" name="base" id="base-1")
                          label.aside-filters-label(for="base-1") Акриловая
                        .aside-filters-input-wrap
                          input.aside-filters-input(type="checkbox" value="Латексная" name="base" id="base-2")
                          label.aside-filters-label(for="base-2") Латексная
                        .aside-filters-input-wrap
                          input.aside-filters-input(type="checkbox" checked="checked" value="Масляно-эмульсионная" name="base" id="base-3")
                          label.aside-filters-label(for="base-3") Масляно-эмульсионная
                        .aside-filters-input-wrap
                          input.aside-filters-input(type="checkbox" value="Эмульсионно-силикатная" name="base" id="base-4")
                          label.aside-filters-label(for="base-4") Эмульсионно-силикатная

                      .aside-filters-inner
                        span.aside-filters-title Степень глянца
                        .aside-filters-input-wrap
                          input.aside-filters-input(type="checkbox" value="Глянцевая" checked="checked" name="base" id="gloss-deg-1")
                          label.aside-filters-label(for="gloss-deg-1") Глянцевая
                        .aside-filters-input-wrap
                          input.aside-filters-input(type="checkbox" value="Матовая" name="base" id="gloss-deg-2")
                          label.aside-filters-label(for="gloss-deg-2") Матовая
                        .aside-filters-input-wrap
                          input.aside-filters-input(type="checkbox" value="Полуглянцевая" checked="checked" name="base" id="gloss-deg-3")
                          label.aside-filters-label(for="gloss-deg-3") Полуглянцевая
                        .aside-filters-input-wrap
                          input.aside-filters-input(type="checkbox" value="Полуматовая" name="base" id="gloss-deg-4")
                          label.aside-filters-label(for="gloss-deg-4") Полуматовая

                      .aside-filters-inner
                        span.aside-filters-title Класс истирания
                        .aside-filters-input-wrap
                          input.aside-filters-input(type="checkbox" value="Класс 1" checked="checked" name="base" id="erase-class-1")
                          label.aside-filters-label(for="erase-class-1") Класс 1
                        .aside-filters-input-wrap
                          input.aside-filters-input(type="checkbox" value="Класс 2" name="base" id="erase-class-2")
                          label.aside-filters-label(for="erase-class-2") Класс 2


                      .aside-filters-inner
                        span.aside-filters-title Метка
                        .aside-filters-input-wrap
                          input.aside-filters-input(type="checkbox" value="Популярные" name="base" id="tag-1")
                          label.aside-filters-label(for="tag-1") Популярные
                        .aside-filters-input-wrap
                          input.aside-filters-input(type="checkbox" value="Новинки" name="base" id="tag-2")
                          label.aside-filters-label(for="tag-2") Новинки
                      a.btn.btn--green(href="#") Применить фильтр
                .catalog__content
                    h2.size-2.catalog_content__name
                        |Для влажных помещений
                    .catalog-sort-wrap
                      label(for="select-tag") Сортировать по:
                      .select-wrap
                        select(name="select-tag" id="select-tag" class="select")
                          option(val="for-pop") По популярности
                          option(val="for-name") По названию
                    .catalog-products
                      .catalog-products__item
                        .catalog-products__img-wrap(style="background-image: url('/src/assets/images/catalog1.png')")
                        .catalog-products__text-wrap
                          h4.catalog-products__title Dekso-plast MS 15
                          span.catalog-products__small-title Краска антигрибковая
                          p.catalog-products__text 100% акриловая краска, с добавлением фунгицидов, предотвращающая образование плесени и грибка.
                          .catalog-products__filters-wrap
                            .catalog-products__filters-item
                              img(src="/src/assets/images/semi-matt.png")
                              span Полуматовая
                            .catalog-products__filters-item
                              img(src="/src/assets/images/antibacterial.png")
                              span Акриловая
                            .catalog-products__filters-item
                              img(src="/src/assets/images/water-resistant.png")
                              span Антибактериальная
                        .catalog-products__price-wrap
                          .catalog-products__price-inner
                            .catalog-products__price 2 500  ₽/м <sup>2</sup>
                            .catalog-products__price--cross 4 640  ₽/м <sup>2</sup>
                          a.btn.btn--green.catalog-products__price-btn(href="") <i></i> В корзину
                      .catalog-products__item
                        .catalog-products__img-wrap(style="background-image: url('/src/assets/images/catalog2.png')")
                        .catalog-products__text-wrap
                          h4.catalog-products__title Dekso 25
                          span.catalog-products__small-title Краска антигрибковая
                          p.catalog-products__text 100% акриловая краска, с добавлением фунгицидов, предотвращающая образование плесени и грибка.
                          .catalog-products__filters-wrap
                            .catalog-products__filters-item
                              img(src="/src/assets/images/semi-matt.png")
                              span Полуматовая
                            .catalog-products__filters-item
                              img(src="/src/assets/images/antibacterial.png")
                              span Акриловая
                            .catalog-products__filters-item
                              img(src="/src/assets/images/roller.png")
                              span Блокирующие пятна
                        .catalog-products__price-wrap
                          .catalog-products__price-inner
                            .catalog-products__price 2 500  ₽/м <sup>2</sup>
                          a.btn.btn--green.catalog-products__price-btn(href="") <i></i> В корзину
                      .catalog-products__item
                        .catalog-products__img-wrap(style="background-image: url('/src/assets/images/catalog3.png')")
                        .catalog-products__text-wrap
                          h4.catalog-products__title Dekso 5
                          span.catalog-products__small-title Краска антигрибковая
                          p.catalog-products__text 100% акриловая краска, с добавлением фунгицидов, предотвращающая образование плесени и грибка.
                          .catalog-products__filters-wrap
                            .catalog-products__filters-item
                              img(src="/src/assets/images/semi-matt.png")
                              span Полуматовая
                            .catalog-products__filters-item
                              img(src="/src/assets/images/antibacterial.png")
                              span Акриловая
                            .catalog-products__filters-item
                              img(src="/src/assets/images/water-resistant.png")
                              span Антибактериальная
                        .catalog-products__price-wrap
                          .catalog-products__price-inner
                            .catalog-products__price 2 500  ₽/м <sup>2</sup>
                            .catalog-products__price--cross 4 640  ₽/м <sup>2</sup>
                          a.btn.btn--green.catalog-products__price-btn(href="") <i></i> В корзину
                      .catalog-products__item
                        .catalog-products__img-wrap(style="background-image: url('/src/assets/images/catalog4.png')")
                        .catalog-products__text-wrap
                          h4.catalog-products__title Flutex 5
                          span.catalog-products__small-title Краска антигрибковая
                          p.catalog-products__text 100% акриловая краска, с добавлением фунгицидов, предотвращающая образование плесени и грибка.
                          .catalog-products__filters-wrap
                            .catalog-products__filters-item
                              img(src="/src/assets/images/semi-matt.png")
                              span Полуматовая
                            .catalog-products__filters-item
                              img(src="/src/assets/images/antibacterial.png")
                              span Акриловая
                            .catalog-products__filters-item
                              img(src="/src/assets/images/magic-wand.png")
                              span Универсальная
                        .catalog-products__price-wrap
                          .catalog-products__price-inner
                            .catalog-products__price 2 500  ₽/м <sup>2</sup>
                          a.btn.btn--green.catalog-products__price-btn(href="") <i></i> В корзину
                      .catalog-products__item
                        .catalog-products__img-wrap(style="background-image: url('/src/assets/images/catalog5.png')")
                        .catalog-products__text-wrap
                          h4.catalog-products__title Interior Fix Primer
                          span.catalog-products__small-title Краска антигрибковая
                          p.catalog-products__text 100% акриловая краска, с добавлением фунгицидов, предотвращающая образование плесени и грибка.
                          .catalog-products__filters-wrap
                            .catalog-products__filters-item
                              img(src="/src/assets/images/semi-matt.png")
                              span Полуматовая
                            .catalog-products__filters-item
                              img(src="/src/assets/images/antibacterial.png")
                              span Акриловая
                            .catalog-products__filters-item
                              img(src="/src/assets/images/water-resistant.png")
                              span Антибактериальная
                        .catalog-products__price-wrap
                          .catalog-products__price-inner
                            .catalog-products__price 2 500  ₽/м <sup>2</sup>
                            .catalog-products__price--cross 4 640  ₽/м <sup>2</sup>
                          a.btn.btn--green.catalog-products__price-btn(href="") <i></i> В корзину
                      .catalog-products__item
                        .catalog-products__img-wrap(style="background-image: url('/src/assets/images/catalog6.png')")
                        .catalog-products__text-wrap
                          h4.catalog-products__title Interior Stop Primer
                          span.catalog-products__small-title Краска антигрибковая
                          p.catalog-products__text 100% акриловая краска, с добавлением фунгицидов, предотвращающая образование плесени и грибка.
                          .catalog-products__filters-wrap
                            .catalog-products__filters-item
                              img(src="/src/assets/images/semi-matt.png")
                              span Полуматовая
                            .catalog-products__filters-item
                              img(src="/src/assets/images/antibacterial.png")
                              span Акриловая
                            .catalog-products__filters-item
                              img(src="/src/assets/images/umbrella.png")
                              span Влагостойкая
                        .catalog-products__price-wrap
                          .catalog-products__price-inner
                            .catalog-products__price 2 500  ₽/м <sup>2</sup>
                          a.btn.btn--green.catalog-products__price-btn(href="") <i></i> В корзину
                      .catalog-products__item
                        .catalog-products__img-wrap(style="background-image: url('/src/assets/images/catalog7.png')")
                        .catalog-products__text-wrap
                          h4.catalog-products__title Flutex 5
                          span.catalog-products__small-title Краска антигрибковая
                          p.catalog-products__text 100% акриловая краска, с добавлением фунгицидов, предотвращающая образование плесени и грибка.
                          .catalog-products__filters-wrap
                            .catalog-products__filters-item
                              img(src="/src/assets/images/semi-matt.png")
                              span Полуматовая
                            .catalog-products__filters-item
                              img(src="/src/assets/images/antibacterial.png")
                              span Акриловая
                            .catalog-products__filters-item
                              img(src="/src/assets/images/water-resistant.png")
                              span Антибактериальная
                        .catalog-products__price-wrap
                          .catalog-products__price-inner
                            .catalog-products__price 2 500  ₽/м <sup>2</sup>
                          a.btn.btn--green.catalog-products__price-btn(href="") <i></i> В корзину
                      .catalog-products__item
                        .catalog-products__img-wrap(style="background-image: url('/src/assets/images/catalog7.png')")
                        .catalog-products__text-wrap
                          h4.catalog-products__title Flugger 30
                          span.catalog-products__small-title Краска антигрибковая
                          p.catalog-products__text 100% акриловая краска, с добавлением фунгицидов, предотвращающая образование плесени и грибка.
                          .catalog-products__filters-wrap
                            .catalog-products__filters-item
                              img(src="/src/assets/images/semi-matt.png")
                              span Полуматовая
                            .catalog-products__filters-item
                              img(src="/src/assets/images/antibacterial.png")
                              span Акриловая
                            .catalog-products__filters-item
                              img(src="/src/assets/images/water-resistant.png")
                              span Антибактериальная
                        .catalog-products__price-wrap
                          .catalog-products__price-inner
                            .catalog-products__price 2 500  ₽/м <sup>2</sup>
                            .catalog-products__price--cross 4 640  ₽/м <sup>2</sup>
                          a.btn.btn--green.catalog-products__price-btn(href="") <i></i> В корзину
                      .catalog-products__item
                        .catalog-products__img-wrap(style="background-image: url('/src/assets/images/catalog9.png')")
                        .catalog-products__text-wrap
                          h4.catalog-products__title HB Expert Yellow
                          span.catalog-products__small-title Кисть из смешанной белой щетины
                          p.catalog-products__text Смешанная щетина предназначена для работы со всеми типами красок и лаков. Двухкомпонентная ручка предназначена для удобства работы. Ободок из нержавеющей стали.
                        .catalog-products__price-wrap
                          .catalog-products__price-inner
                            .catalog-products__price 250  ₽
                          a.btn.btn--green.catalog-products__price-btn(href="") <i></i> В корзину
                      .catalog-products__item
                        .catalog-products__img-wrap(style="background-image: url('/src/assets/images/catalog10.png')")
                        .catalog-products__text-wrap
                          h4.catalog-products__title Dekso 5
                          span.catalog-products__small-title Краска антигрибковая
                          p.catalog-products__text 100% акриловая краска, с добавлением фунгицидов, предотвращающая образование плесени и грибка.
                          .catalog-products__filters-wrap
                            .catalog-products__filters-item
                              img(src="/src/assets/images/semi-matt.png")
                              span Полуматовая
                            .catalog-products__filters-item
                              img(src="/src/assets/images/antibacterial.png")
                              span Акриловая
                            .catalog-products__filters-item
                              img(src="/src/assets/images/water-resistant.png")
                              span Антибактериальная
                        .catalog-products__price-wrap
                          .catalog-products__price-inner
                            .catalog-products__price 2 500  ₽/м <sup>2</sup>
                            .catalog-products__price--cross 4 640  ₽/м <sup>2</sup>
                          a.btn.btn--green.catalog-products__price-btn(href="") <i></i> В корзину
                    .pagination
                      a.btn.btn--blue Показать ещё
                      .pagination-inner
                        .prev <svg width="13" height="23" viewBox="0 0 13 23" xmlns="http://www.w3.org/2000/svg">
                         <path fill-rule="evenodd" clip-rule="evenodd" d="M0.867187 11.9966L10.7703 23.0001L13.0002 20.9932L4.90328 11.9966L13.0002 3.00006L10.7703 0.993164L0.867187 11.9966Z"/>
                         </svg>
                        button.pagination-btn.active 1
                        button.pagination-btn 2
                        button.pagination-btn 3
                        button.pagination-dots ...
                        button.pagination-btn 10
                        .next.active <svg width="13" height="23" viewBox="0 0 13 23" xmlns="http://www.w3.org/2000/svg">
                         <path fill-rule="evenodd" clip-rule="evenodd" d="M13 11.9966L3.0969 0.993107L0.867015 3L8.96391 11.9966L0.867015 20.9931L3.0969 23L13 11.9966Z"/>
                         </svg>


        include ../common/footer
