doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
        block title
            title webpack Project

    body
        include ../common/mixins
        include ../common/header
        .main-wrapper.catalog-sec-lev
            include ../common/prev.pug
            h2.size-2.catalog_content__name.mob__name
              | Для работы в помещениях
            .catalog__wrapper
                section
                    aside.aside-menu
                        h4.size-5.catalog__name.catalog__name-lvl2
                            |Для работы в помещениях
                        ul.menu__catalog
                            li.menu__catalog__item.menu__catalog__active
                                a.size-6(href="#")
                                    |Для влажных помещений
                            li.menu__catalog__item
                                a.size-6(href="#")
                                    | Для грунтования
                            li.menu__catalog__item
                                a.size-6(href="#")
                                    | Для дерева и мебели
                            li.menu__catalog__item
                                a.size-6(href="#")
                                    | Для металла
                            li.menu__catalog__item
                                a.size-6(href="#")
                                    | Для пола
                            li.menu__catalog__item
                                a.size-6(href="#")
                                    | Для потолка
                            li.menu__catalog__item
                                a.size-6(href="#")
                                    | Для стен
                            li.menu__catalog__item
                                a.size-6(href="#")
                                    | Для шпатлевания
                        a.size-5.catalog__link(href="#")
                            |Для декора и дизайна
                        a.size-5.catalog__link(href="#")
                            | Для работы на улице
                        a.size-5.catalog__link(href="#")
                            | Инструменты и материалы
                    aside.aside-filters
                      .aside-filters-popup.show
                        span Найдено товаров: 11
                        a(href="") Показать
                      .aside-filters-inner
                        span.aside-filters-title Свойства
                        .aside-filters-input-wrap
                          input.aside-filters-input(type="checkbox" value="Адгезионная" checked="checked" name="properties" id="properties-1")
                          label.aside-filters-label(for="properties-1") Адгезионная
                        .aside-filters-input-wrap.aside-filters-label-nonactive
                          input.aside-filters-input(type="checkbox" value="Антибактериальная" name="properties" id="properties-2")
                          label.aside-filters-label(for="properties-2") Антибактериальная
                        .aside-filters-input-wrap
                          input.aside-filters-input(type="checkbox" value="Блокирующие пятна" checked="checked" name="properties" id="properties-3")
                          label.aside-filters-label(for="properties-3") Блокирующие пятна
                        .aside-filters-input-wrap
                          input.aside-filters-input(type="checkbox" value="Влагостойкая" name="properties" id="properties-4")
                          label.aside-filters-label(for="properties-4") Влагостойкая
                        .aside-filters-input-wrap
                          input.aside-filters-input(type="checkbox" value="Водоустойчивая" name="properties" id="properties-5")
                          label.aside-filters-label(for="properties-5") Водоустойчивая
                        .aside-filters-input-wrap
                          input.aside-filters-input(type="checkbox" value="Декоративная" checked="checked" name="properties" id="properties-6")
                          label.aside-filters-label(for="properties-6") Декоративная
                        .aside-filters-input-wrap
                          input.aside-filters-input(type="checkbox" value="Резистентная" name="properties" id="properties-7")
                          label.aside-filters-label(for="properties-7") Резистентная
                        .aside-filters-input-wrap
                          input.aside-filters-input(type="checkbox" value="Универсальная" name="properties" id="properties-7")
                          label.aside-filters-label(for="properties-7") Универсальная
                      .aside-filters-inner
                        span.aside-filters-title Основа
                        .aside-filters-input-wrap
                          input.aside-filters-input(type="checkbox" value="Акриловая" checked="checked" name="base" id="base-1")
                          label.aside-filters-label(for="base-1") Акриловая
                        .aside-filters-input-wrap
                          input.aside-filters-input(type="checkbox" value="Латексная" name="base" id="base-2")
                          label.aside-filters-label(for="base-2") Латексная
                        .aside-filters-input-wrap
                          input.aside-filters-input(type="checkbox" checked="checked" value="Масляно-эмульсионная" name="base" id="base-3")
                          label.aside-filters-label(for="base-3") Масляно-эмульсионная
                        .aside-filters-input-wrap
                          input.aside-filters-input(type="checkbox" value="Эмульсионно-силикатная" name="base" id="base-4")
                          label.aside-filters-label(for="base-4") Эмульсионно-силикатная
                      .aside-filters-inner
                        span.aside-filters-title Степень глянца
                        .aside-filters-input-wrap
                          input.aside-filters-input(type="checkbox" value="Глянцевая" checked="checked" name="base" id="gloss-deg-1")
                          label.aside-filters-label(for="gloss-deg-1") Глянцевая
                        .aside-filters-input-wrap
                          input.aside-filters-input(type="checkbox" value="Матовая" name="base" id="gloss-deg-2")
                          label.aside-filters-label(for="gloss-deg-2") Матовая
                        .aside-filters-input-wrap
                          input.aside-filters-input(type="checkbox" value="Полуглянцевая" checked="checked" name="base" id="gloss-deg-3")
                          label.aside-filters-label(for="gloss-deg-3") Полуглянцевая
                        .aside-filters-input-wrap
                          input.aside-filters-input(type="checkbox" value="Полуматовая" name="base" id="gloss-deg-4")
                          label.aside-filters-label(for="gloss-deg-4") Полуматовая
                      .aside-filters-inner
                        span.aside-filters-title Класс истирания
                        .aside-filters-input-wrap
                          input.aside-filters-input(type="checkbox" value="Класс 1" checked="checked" name="base" id="erase-class-1")
                          label.aside-filters-label(for="erase-class-1") Класс 1
                        .aside-filters-input-wrap
                          input.aside-filters-input(type="checkbox" value="Класс 2" name="base" id="erase-class-2")
                          label.aside-filters-label(for="erase-class-2") Класс 2
                      .aside-filters-inner
                        span.aside-filters-title Метка
                        .aside-filters-input-wrap
                          input.aside-filters-input(type="checkbox" value="Популярные" name="base" id="tag-1")
                          label.aside-filters-label(for="tag-1") Популярные
                        .aside-filters-input-wrap
                          input.aside-filters-input(type="checkbox" value="Новинки" name="base" id="tag-2")
                          label.aside-filters-label(for="tag-2") Новинки
                      a.btn.btn--green(href="#") Применить фильтр
                .catalog__content.catalog__content-sec-levl
                    h1.size-2.catalog_content__name
                        |Для влажных помещений
                    .catalog-sort-wrap
                      label(for="select-tag") Сортировать
                      .select-wrap
                        select(name="select-tag" id="select-tag" class="select-sort")
                          option(val="for-pop-asc", data-image="/src/assets/images/sort-down.svg")
                            |Сначала популярные
                          option(val="for-pop-desc", data-image="/src/assets/images/sort-up.svg")
                            |Сначала не популярные
                          option(val="for-price-asc", data-image="/src/assets/images/sort-down.svg")
                            |Сначала дорогие
                          option(val="for-price-asc", data-image="/src/assets/images/sort-up.svg")
                            |Сначала дешевые
                    .catalog-sec-lev-top
                      a.filters-modal(href="#filters-modal") Фильтр (4)
                      .white-popup-block.mfp-hide#filters-modal
                        .location__wrapper.sorting__wrapper
                          .tittle__wrap
                            .size-4.tittle__wrap--title
                              | Фильтр
                            a.popup-modal-dismiss
                              img(src="/src/assets/images/Close-thick.svg")
                          form
                            h3.size-5
                              |Свойства
                            .sort__wrap
                                .aside-filters-input-wrap
                                  input.aside-filters-input(type="checkbox" value="Адгезионная" name="properties" id="prop-1" checked)
                                  label.aside-filters-label(for="prop-1")
                                    |Адгезионная
                                .aside-filters-input-wrap
                                  input.aside-filters-input(type="checkbox" value="Антибактериальная" name="properties" id="prop-2")
                                  label.aside-filters-label(for="prop-2")
                                    | Антибактериальная
                                .aside-filters-input-wrap
                                  input.aside-filters-input(type="checkbox" value="Блокирующие пятна" name="properties" id="prop-3" checked)
                                  label.aside-filters-label(for="prop-3")
                                    | Блокирующие пятна
                                .aside-filters-input-wrap
                                  input.aside-filters-input(type="checkbox" value="Влагостойкая" name="properties" id="prop-4")
                                  label.aside-filters-label(for="prop-4")
                                    | Блокирующие пятна
                                .aside-filters-input-wrap
                                  input.aside-filters-input(type="checkbox" value="Водоустойчивая" name="properties" id="prop-5")
                                  label.aside-filters-label(for="prop-5")
                                    | Водоустойчивая
                                .aside-filters-input-wrap
                                  input.aside-filters-input(type="checkbox" value="Декоративная" name="properties" id="prop-6" checked)
                                  label.aside-filters-label(for="prop-6")
                                    | Декоративная
                                .aside-filters-input-wrap
                                  input.aside-filters-input(type="checkbox" value="Резистентная" name="properties" id="prop-7")
                                  label.aside-filters-label(for="prop-7")
                                    | Резистентная
                                .aside-filters-input-wrap
                                  input.aside-filters-input(type="checkbox" value="Универсальная" name="properties" id="prop-8")
                                  label.aside-filters-label(for="prop-8")
                                    | Универсальная
                            h3.size-5
                              |Основа
                            .sort__wrap
                                .aside-filters-input-wrap
                                  input.aside-filters-input(type="checkbox" value="Акриловая" name="prop" id="propid-1" checked)
                                  label.aside-filters-label(for="propid-1")
                                    | Акриловая
                                .aside-filters-input-wrap
                                  input.aside-filters-input(type="checkbox" value="Латексная" name="prop" id="propid-2")
                                  label.aside-filters-label(for="propid-2")
                                    | Латексная
                                .aside-filters-input-wrap
                                  input.aside-filters-input(type="checkbox" value="Латексная" name="prop" id="propid-5")
                                  label.aside-filters-label(for="propid-5")
                                    | Латексная
                                .aside-filters-input-wrap
                                  input.aside-filters-input(type="checkbox" value="Эмульсионно-силикатная" name="prop" id="propid-6" checked)
                                  label.aside-filters-label(for="propid-6")
                                    | Эмульсионно-силикатная
                            h3.size-5
                              |Степень глянца
                            .sort__wrap
                                .aside-filters-input-wrap
                                  input.aside-filters-input(type="checkbox" value="Глянцевая" checked="checked" name="base" id="gloss-deg-1")
                                  label.aside-filters-label(for="gloss-deg-1") Глянцевая
                                .aside-filters-input-wrap
                                  input.aside-filters-input(type="checkbox" value="Матовая" name="base" id="gloss-deg-2")
                                  label.aside-filters-label(for="gloss-deg-2") Матовая
                                .aside-filters-input-wrap
                                  input.aside-filters-input(type="checkbox" value="Полуглянцевая" checked="checked" name="base" id="gloss-deg-3")
                                  label.aside-filters-label(for="gloss-deg-3") Полуглянцевая
                                .aside-filters-input-wrap
                                  input.aside-filters-input(type="checkbox" value="Полуматовая" name="base" id="gloss-deg-4")
                                  label.aside-filters-label(for="gloss-deg-4") Полуматовая
                            h3.size-5
                              |Класс истирания
                            .sort__wrap
                                .aside-filters-input-wrap
                                  input.aside-filters-input(type="checkbox" value="Класс 1" checked="checked" name="base" id="erase-class-1")
                                  label.aside-filters-label(for="erase-class-1") Класс 1
                                .aside-filters-input-wrap
                                  input.aside-filters-input(type="checkbox" value="Класс 2" name="base" id="erase-class-2")
                                  label.aside-filters-label(for="erase-class-2") Класс 2
                            h3.size-5
                              |Метка
                            .sort__wrap
                                .aside-filters-input-wrap
                                  input.aside-filters-input(type="checkbox" value="Популярные" name="base" id="tag-1")
                                  label.aside-filters-label(for="tag-1") Популярные
                                .aside-filters-input-wrap
                                  input.aside-filters-input(type="checkbox" value="Новинки" name="base" id="tag-2")
                                  label.aside-filters-label(for="tag-2") Новинки
                            
                            input.btn.btn-primary.btn-call.size-4(type="submit" value="Применить фильтр")
                      a.sorting-modal.sorting-selected-js(href="#sort-modal")
                        img(src="/src/assets/images/sort-down.svg")
                        span
                          |Сначала популярные
                      .white-popup-block.mfp-hide#sort-modal
                        .location__wrapper.sorting__wrapper
                          .tittle__wrap
                            .size-4.tittle__wrap--title
                              | Сортировка
                            a.popup-modal-dismiss
                              img(src="/src/assets/images/Close-thick.svg")
                          .sort-mobile-wrapper
                            a.mobile-sort-item-js(href="#", data-sortname="Сначала популярные", data-sortimage="/src/assets/images/sort-down.svg", data-val="for-pop-asc")
                              img(src="/src/assets/images/sort-down.svg")
                              |Сначала популярные
                            a.mobile-sort-item-js(href="#", data-sortname="Сначала не популярные", data-sortimage="/src/assets/images/sort-up.svg", data-val="for-pop-desc")
                              img(src="/src/assets/images/sort-up.svg")
                              |Сначала не популярные
                            a.mobile-sort-item-js(href="#", data-sortname="Сначала дорогие", data-sortimage="/src/assets/images/sort-down.svg", data-val="for-price-asc")
                              img(src="/src/assets/images/sort-down.svg")
                              |Сначала дорогие
                            a.mobile-sort-item-js(href="#", data-sortname="Сначала дешевые", data-sortimage="/src/assets/images/sort-up.svg", data-val="for-price-asc")
                              img(src="/src/assets/images/sort-up.svg")
                              |Сначала дешевые
                    .catalog-products
                      a.catalog-products__item
                        .catalog-products__img-wrap
                          .catalog__img-wrap
                            img(src="/src/assets/images/pic-catalog.png")
                          img.product__item-color.product__item-active(src="/src/assets/images/Palette.svg")
                        .catalog-products__text-wrap
                          h4.catalog-products__title Dekso-plast MS 15
                          span.catalog-products__small-title Краска антигрибковая
                          p.catalog-products__text 100% акриловая краска, с добавлением фунгицидов, предотвращающая образование плесени и грибка.
                          .catalog-products__filters-wrap
                            .catalog-products__filters-item
                              img(src="/src/assets/images/semi-matt.png")
                              span Полуматовая
                            .catalog-products__filters-item
                              img(src="/src/assets/images/antibacterial.png")
                              span Акриловая
                            .catalog-products__filters-item
                              img(src="/src/assets/images/water-resistant.png")
                              span Антибактериальная
                        .catalog-products__price-wrap
                          .catalog-products__price-inner
                            .catalog-products__price 2 500  ₽/м <sup>2</sup>
                            .catalog-products__price--cross 4 640  ₽/м <sup>2</sup>
                          button.btn.btn--green.catalog-products__price-btn
                            img(src="/src/assets/images/basket-mobile.svg")
                            span
                              |В корзину
                      .catalog-products__item
                        .catalog-products__img-wrap
                          img(src="/src/assets/images/pic-catalog.png")
                          img.product__item-color.product__item-active(src="/src/assets/images/Palette.svg")
                        .catalog-products__text-wrap
                          h4.catalog-products__title Dekso 25
                          span.catalog-products__small-title Краска антигрибковая
                          p.catalog-products__text 100% акриловая краска, с добавлением фунгицидов, предотвращающая образование плесени и грибка.
                          .catalog-products__filters-wrap
                            .catalog-products__filters-item
                              img(src="/src/assets/images/semi-matt.png")
                              span Полуматовая
                            .catalog-products__filters-item
                              img(src="/src/assets/images/antibacterial.png")
                              span Акриловая
                            .catalog-products__filters-item
                              img(src="/src/assets/images/roller.png")
                              span Блокирующие пятна
                        .catalog-products__price-wrap
                          .catalog-products__price-inner
                            .catalog-products__price 2 500  ₽/м <sup>2</sup>
                          a.btn.btn--green.catalog-products__price-btn(href="") <i></i> В корзину
                      .catalog-products__item
                        .catalog-products__img-wrap
                          img(src="/src/assets/images/pic-catalog.png")
                          img.product__item-color(src="/src/assets/images/Palette.svg")
                        .catalog-products__text-wrap
                          h4.catalog-products__title Dekso 5
                          span.catalog-products__small-title Краска антигрибковая
                          p.catalog-products__text 100% акриловая краска, с добавлением фунгицидов, предотвращающая образование плесени и грибка.
                          .catalog-products__filters-wrap
                            .catalog-products__filters-item
                              img(src="/src/assets/images/semi-matt.png")
                              span Полуматовая
                            .catalog-products__filters-item
                              img(src="/src/assets/images/antibacterial.png")
                              span Акриловая
                            .catalog-products__filters-item
                              img(src="/src/assets/images/water-resistant.png")
                              span Антибактериальная
                        .catalog-products__price-wrap
                          .catalog-products__price-inner
                            .catalog-products__price 2 500  ₽/м <sup>2</sup>
                            .catalog-products__price--cross 4 640  ₽/м <sup>2</sup>
                          a.btn.btn--green.catalog-products__price-btn(href="") <i></i> В корзину
                      .catalog-products__item
                        .catalog-products__img-wrap
                          img(src="/src/assets/images/pic-catalog.png")
                          img.product__item-color.product__item-active(src="/src/assets/images/Palette.svg")
                        .catalog-products__text-wrap
                          h4.catalog-products__title Flutex 5
                          span.catalog-products__small-title Краска антигрибковая
                          p.catalog-products__text 100% акриловая краска, с добавлением фунгицидов, предотвращающая образование плесени и грибка.
                          .catalog-products__filters-wrap
                            .catalog-products__filters-item
                              img(src="/src/assets/images/semi-matt.png")
                              span Полуматовая
                            .catalog-products__filters-item
                              img(src="/src/assets/images/antibacterial.png")
                              span Акриловая
                            .catalog-products__filters-item
                              img(src="/src/assets/images/magic-wand.png")
                              span Универсальная
                        .catalog-products__price-wrap
                          .catalog-products__price-inner
                            .catalog-products__price 2 500  ₽/м <sup>2</sup>
                          a.btn.btn--green.catalog-products__price-btn(href="") <i></i> В корзину
                      .catalog-products__item
                        .catalog-products__img-wrap
                          img(src="/src/assets/images/pic-catalog.png")
                          img.product__item-color.product__item-active(src="/src/assets/images/Palette.svg")
                        .catalog-products__text-wrap
                          h4.catalog-products__title Interior Fix Primer
                          span.catalog-products__small-title Краска антигрибковая
                          p.catalog-products__text 100% акриловая краска, с добавлением фунгицидов, предотвращающая образование плесени и грибка.
                          .catalog-products__filters-wrap
                            .catalog-products__filters-item
                              img(src="/src/assets/images/semi-matt.png")
                              span Полуматовая
                            .catalog-products__filters-item
                              img(src="/src/assets/images/antibacterial.png")
                              span Акриловая
                            .catalog-products__filters-item
                              img(src="/src/assets/images/water-resistant.png")
                              span Антибактериальная
                        .catalog-products__price-wrap
                          .catalog-products__price-inner
                            .catalog-products__price 2 500  ₽/м <sup>2</sup>
                            .catalog-products__price--cross 4 640  ₽/м <sup>2</sup>
                          a.btn.btn--green.catalog-products__price-btn(href="") <i></i> В корзину
                      .catalog-products__item
                        .catalog-products__img-wrap
                          img(src="/src/assets/images/pic-catalog.png")
                          img.product__item-color(src="/src/assets/images/Palette.svg")
                        .catalog-products__text-wrap
                          h4.catalog-products__title Interior Stop Primer
                          span.catalog-products__small-title Краска антигрибковая
                          p.catalog-products__text 100% акриловая краска, с добавлением фунгицидов, предотвращающая образование плесени и грибка.
                          .catalog-products__filters-wrap
                            .catalog-products__filters-item
                              img(src="/src/assets/images/semi-matt.png")
                              span Полуматовая
                            .catalog-products__filters-item
                              img(src="/src/assets/images/antibacterial.png")
                              span Акриловая
                            .catalog-products__filters-item
                              img(src="/src/assets/images/umbrella.png")
                              span Влагостойкая
                        .catalog-products__price-wrap
                          .catalog-products__price-inner
                            .catalog-products__price 2 500  ₽/м <sup>2</sup>
                          a.btn.btn--green.catalog-products__price-btn(href="") <i></i> В корзину
                      .catalog-products__item
                        .catalog-products__img-wrap
                          img(src="/src/assets/images/pic-catalog.png")
                          img.product__item-color.product__item-active(src="/src/assets/images/Palette.svg")
                        .catalog-products__text-wrap
                          h4.catalog-products__title Flutex 5
                          span.catalog-products__small-title Краска антигрибковая
                          p.catalog-products__text 100% акриловая краска, с добавлением фунгицидов, предотвращающая образование плесени и грибка.
                          .catalog-products__filters-wrap
                            .catalog-products__filters-item
                              img(src="/src/assets/images/semi-matt.png")
                              span Полуматовая
                            .catalog-products__filters-item
                              img(src="/src/assets/images/antibacterial.png")
                              span Акриловая
                            .catalog-products__filters-item
                              img(src="/src/assets/images/water-resistant.png")
                              span Антибактериальная
                        .catalog-products__price-wrap
                          .catalog-products__price-inner
                            .catalog-products__price 2 500  ₽/м <sup>2</sup>
                          a.btn.btn--green.catalog-products__price-btn(href="") <i></i> В корзину
                      .catalog-products__item
                        .catalog-products__img-wrap
                          img(src="/src/assets/images/pic-catalog.png")
                          img.product__item-color.product__item-active(src="/src/assets/images/Palette.svg")
                        .catalog-products__text-wrap
                          h4.catalog-products__title Flugger 30
                          span.catalog-products__small-title Краска антигрибковая
                          p.catalog-products__text 100% акриловая краска, с добавлением фунгицидов, предотвращающая образование плесени и грибка.
                          .catalog-products__filters-wrap
                            .catalog-products__filters-item
                              img(src="/src/assets/images/semi-matt.png")
                              span Полуматовая
                            .catalog-products__filters-item
                              img(src="/src/assets/images/antibacterial.png")
                              span Акриловая
                            .catalog-products__filters-item
                              img(src="/src/assets/images/water-resistant.png")
                              span Антибактериальная
                        .catalog-products__price-wrap
                          .catalog-products__price-inner
                            .catalog-products__price 2 500  ₽/м <sup>2</sup>
                            .catalog-products__price--cross 4 640  ₽/м <sup>2</sup>
                          a.btn.btn--green.catalog-products__price-btn(href="") <i></i> В корзину
                      .catalog-products__item
                        .catalog-products__img-wrap
                          img(src="/src/assets/images/pic-catalog.png")
                          img.product__item-color(src="/src/assets/images/Palette.svg")
                        .catalog-products__text-wrap
                          h4.catalog-products__title HB Expert Yellow
                          span.catalog-products__small-title Кисть из смешанной белой щетины
                          p.catalog-products__text Смешанная щетина предназначена для работы со всеми типами красок и лаков.
                        .catalog-products__price-wrap
                          .catalog-products__price-inner
                            .catalog-products__price 250  ₽
                          a.btn.btn--green.catalog-products__price-btn(href="") <i></i> В корзину
                      .catalog-products__item
                        .catalog-products__img-wrap
                          img(src="/src/assets/images/pic-catalog.png")
                          img.product__item-color(src="/src/assets/images/Palette.svg")
                        .catalog-products__text-wrap
                          h4.catalog-products__title Dekso 5
                          span.catalog-products__small-title Краска антигрибковая
                          p.catalog-products__text 100% акриловая краска, с добавлением фунгицидов, предотвращающая образование плесени и грибка.
                          .catalog-products__filters-wrap
                            .catalog-products__filters-item
                              img(src="/src/assets/images/semi-matt.png")
                              span Полуматовая
                            .catalog-products__filters-item
                              img(src="/src/assets/images/antibacterial.png")
                              span Акриловая
                            .catalog-products__filters-item
                              img(src="/src/assets/images/water-resistant.png")
                              span Антибактериальная
                        .catalog-products__price-wrap
                          .catalog-products__price-inner
                            .catalog-products__price 2 500  ₽/м <sup>2</sup>
                            .catalog-products__price--cross 4 640  ₽/м <sup>2</sup>
                          a.btn.btn--green.catalog-products__price-btn(href="") <i></i> В корзину
                    .pagination
                      a.btn.btn--blue Показать ещё
                      .pagination-inner
                        .prev <svg width="13" height="23" viewBox="0 0 13 23" xmlns="http://www.w3.org/2000/svg">
                         <path fill-rule="evenodd" clip-rule="evenodd" d="M0.867187 11.9966L10.7703 23.0001L13.0002 20.9932L4.90328 11.9966L13.0002 3.00006L10.7703 0.993164L0.867187 11.9966Z"/>
                         </svg>
                        button.pagination-btn.active 1
                        button.pagination-btn 2
                        button.pagination-btn 3
                        button.pagination-dots ...
                        button.pagination-btn 10
                        .next.active <svg width="13" height="23" viewBox="0 0 13 23" xmlns="http://www.w3.org/2000/svg">
                         <path fill-rule="evenodd" clip-rule="evenodd" d="M13 11.9966L3.0969 0.993107L0.867015 3L8.96391 11.9966L0.867015 20.9931L3.0969 23L13 11.9966Z"/>
                         </svg>


        include ../common/footer
