doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
    block title
      title webpack Project
  body
    include ../common/mixins
    include ../common/header
    .main-wrapper
      include ../common/prev.pug
      h2.size-2.catalog_content__name.mob__name
        | Для работы в помещениях
      .catalog__wrapper
        section.catalog__aside
          aside
            h4.size-5.catalog__name
              |Для работы в помещениях
            ul.menu__catalog
              li.menu__catalog__item
                a.size-6(href="#")
                  |Для влажных помещений
              li.menu__catalog__item
                a.size-6(href="#")
                  | Для грунтования
              li.menu__catalog__item
                a.size-6(href="#")
                  | Для дерева и мебели
              li.menu__catalog__item
                a.size-6(href="#")
                  | Для металла
              li.menu__catalog__item
                a.size-6(href="#")
                  | Для пола
              li.menu__catalog__item
                a.size-6(href="#")
                  | Для потолка
              li.menu__catalog__item
                a.size-6(href="#")
                  | Для стен
              li.menu__catalog__item
                a.size-6(href="#")
                  | Для шпатлевания
            a.size-5.catalog__link(href="#")
              |Для декора и дизайна
            a.size-5.catalog__link(href="#")
              | Для работы на улице
            a.size-5.catalog__link(href="#")
              | Инструменты и материалы
        .catalog__content
          h1.size-2.catalog_content__name
            |Для работы в помещениях
          .catalog__products
            a(href="#").catalog__products__item(style="background-image: url('/src/assets/images/catalog-image.png');")
              p.size-3
                | Для влажных
                br
                | помещений
            a(href="#").catalog__products__item(style="background-image: url('/src/assets/images/grunt.png');")
              p.size-3
                |Для грунтования
            a(href="#").catalog__products__item(style="background-image: url('/src/assets/images/derevo.png');")
              p.size-3
                |Для дерева и мебели
            a(href="#").catalog__products__item(style="background-image: url('/src/assets/images/metal.png');")
              p.size-3
                |Для металла
            a(href="#").catalog__products__item(style="background-image: url('/src/assets/images/pol.png');")
              p.size-3
                |Для пола
            a(href="#").catalog__products__item(style="background-image: url('/src/assets/images/catalog-image.png');")
              p.size-3
                |Для потолка
            a(href="#").catalog__products__item(style="background-image: url('/src/assets/images/sten.png');")
              p.size-3
                |Для стен
            a(href="#").catalog__products__item(style="background-image: url('/src/assets/images/shpatle.png');")
              p.size-3
                |Для шпатлевания

          .catalog__content.catalog__content-sec-levl
            .catalog-sort-wrap
              label(for="select-tag") Сортировать
              .select-wrap
                select(name="select-tag" id="select-tag" class="select-sort")
                  option(val="for-pop-asc", data-image="/src/assets/images/sort-down.svg")
                    | Сначала популярные
                  option(val="for-pop-desc", data-image="/src/assets/images/sort-up.svg")
                    | Сначала не популярные
                  option(val="for-price-asc", data-image="/src/assets/images/sort-down.svg")
                    | Сначала дорогие
                  option(val="for-price-asc", data-image="/src/assets/images/sort-up.svg")
                    | Сначала дешевые
            .catalog-sec-lev-top
              a.sorting-modal.sorting-selected-js.sorting-levl1(href="#sort-modal")
                img(src="/src/assets/images/sort-down.svg")
                span
                  | Сначала популярные
              .white-popup-block.mfp-hide#sort-modal
                .location__wrapper.sorting__wrapper
                  .tittle__wrap
                    .size-4.tittle__wrap--title
                      | Сортировка
                    a.popup-modal-dismiss
                      img(src="/src/assets/images/Close-thick.svg")
                  .sort-mobile-wrapper
                    a.mobile-sort-item-js(href="#", data-sortname="Сначала популярные", data-sortimage="/src/assets/images/sort-down.svg", data-val="for-pop-asc")
                      img(src="/src/assets/images/sort-down.svg")
                      | Сначала популярные
                    a.mobile-sort-item-js(href="#", data-sortname="Сначала не популярные", data-sortimage="/src/assets/images/sort-up.svg", data-val="for-pop-desc")
                      img(src="/src/assets/images/sort-up.svg")
                      | Сначала не популярные
                    a.mobile-sort-item-js(href="#", data-sortname="Сначала дорогие", data-sortimage="/src/assets/images/sort-down.svg", data-val="for-price-asc")
                      img(src="/src/assets/images/sort-down.svg")
                      | Сначала дорогие
                    a.mobile-sort-item-js(href="#", data-sortname="Сначала дешевые", data-sortimage="/src/assets/images/sort-up.svg", data-val="for-price-asc")
                      img(src="/src/assets/images/sort-up.svg")
                      | Сначала дешевые
            .catalog-products
              .catalog-products__item
                .catalog-products__img-wrap
                  img(src="/src/assets/images/pic-catalog.png")
                  img.product__item-color.product__item-active(src="/src/assets/images/Palette.svg")
                .catalog-products__text-wrap
                  h4.catalog-products__title Dekso-plast MS 15
                  span.catalog-products__small-title Краска антигрибковая
                  p.catalog-products__text 100% акриловая краска, с добавлением фунгицидов, предотвращающая образование плесени и грибка.
                  .catalog-products__filters-wrap
                    .catalog-products__filters-item
                      img(src="/src/assets/images/semi-matt.png")
                      span Полуматовая
                    .catalog-products__filters-item
                      img(src="/src/assets/images/antibacterial.png")
                      span Акриловая
                    .catalog-products__filters-item
                      img(src="/src/assets/images/water-resistant.png")
                      span Антибактериальная
                .catalog-products__price-wrap
                  .catalog-products__price-inner
                    .catalog-products__price 2 500  ₽/м <sup>2</sup>
                    .catalog-products__price--cross 4 640  ₽/м <sup>2</sup>
                  a.btn.btn--green.catalog-products__price-btn(href="") <i></i> В корзину
              .catalog-products__item
                .catalog-products__img-wrap
                  img(src="/src/assets/images/pic-catalog.png")
                  img.product__item-color.product__item-active(src="/src/assets/images/Palette.svg")
                .catalog-products__text-wrap
                  h4.catalog-products__title Dekso 25
                  span.catalog-products__small-title Краска антигрибковая
                  p.catalog-products__text 100% акриловая краска, с добавлением фунгицидов, предотвращающая образование плесени и грибка.
                  .catalog-products__filters-wrap
                    .catalog-products__filters-item
                      img(src="/src/assets/images/semi-matt.png")
                      span Полуматовая
                    .catalog-products__filters-item
                      img(src="/src/assets/images/antibacterial.png")
                      span Акриловая
                    .catalog-products__filters-item
                      img(src="/src/assets/images/roller.png")
                      span Блокирующие пятна
                .catalog-products__price-wrap
                  .catalog-products__price-inner
                    .catalog-products__price 2 500  ₽/м <sup>2</sup>
                  a.btn.btn--green.catalog-products__price-btn(href="") <i></i> В корзину
              .catalog-products__item
                .catalog-products__img-wrap
                  img(src="/src/assets/images/pic-catalog.png")
                  img.product__item-color.product__item-active(src="/src/assets/images/Palette.svg")
                .catalog-products__text-wrap
                  h4.catalog-products__title Dekso 5
                  span.catalog-products__small-title Краска антигрибковая
                  p.catalog-products__text 100% акриловая краска, с добавлением фунгицидов, предотвращающая образование плесени и грибка.
                  .catalog-products__filters-wrap
                    .catalog-products__filters-item
                      img(src="/src/assets/images/semi-matt.png")
                      span Полуматовая
                    .catalog-products__filters-item
                      img(src="/src/assets/images/antibacterial.png")
                      span Акриловая
                    .catalog-products__filters-item
                      img(src="/src/assets/images/water-resistant.png")
                      span Антибактериальная
                .catalog-products__price-wrap
                  .catalog-products__price-inner
                    .catalog-products__price 2 500  ₽/м <sup>2</sup>
                    .catalog-products__price--cross 4 640  ₽/м <sup>2</sup>
                  a.btn.btn--green.catalog-products__price-btn(href="") <i></i> В корзину
              .catalog-products__item
                .catalog-products__img-wrap
                  img(src="/src/assets/images/pic-catalog.png")
                  img.product__item-color(src="/src/assets/images/Palette.svg")
                .catalog-products__text-wrap
                  h4.catalog-products__title Flutex 5
                  span.catalog-products__small-title Краска антигрибковая
                  p.catalog-products__text 100% акриловая краска, с добавлением фунгицидов, предотвращающая образование плесени и грибка.
                  .catalog-products__filters-wrap
                    .catalog-products__filters-item
                      img(src="/src/assets/images/semi-matt.png")
                      span Полуматовая
                    .catalog-products__filters-item
                      img(src="/src/assets/images/antibacterial.png")
                      span Акриловая
                    .catalog-products__filters-item
                      img(src="/src/assets/images/magic-wand.png")
                      span Универсальная
                .catalog-products__price-wrap
                  .catalog-products__price-inner
                    .catalog-products__price 2 500  ₽/м <sup>2</sup>
                  a.btn.btn--green.catalog-products__price-btn(href="") <i></i> В корзину
              .catalog-products__item
                .catalog-products__img-wrap
                  img(src="/src/assets/images/pic-catalog.png")
                  img.product__item-color.product__item-active(src="/src/assets/images/Palette.svg")
                .catalog-products__text-wrap
                  h4.catalog-products__title Interior Fix Primer
                  span.catalog-products__small-title Краска антигрибковая
                  p.catalog-products__text 100% акриловая краска, с добавлением фунгицидов, предотвращающая образование плесени и грибка.
                  .catalog-products__filters-wrap
                    .catalog-products__filters-item
                      img(src="/src/assets/images/semi-matt.png")
                      span Полуматовая
                    .catalog-products__filters-item
                      img(src="/src/assets/images/antibacterial.png")
                      span Акриловая
                    .catalog-products__filters-item
                      img(src="/src/assets/images/water-resistant.png")
                      span Антибактериальная
                .catalog-products__price-wrap
                  .catalog-products__price-inner
                    .catalog-products__price 2 500  ₽/м <sup>2</sup>
                    .catalog-products__price--cross 4 640  ₽/м <sup>2</sup>
                  a.btn.btn--green.catalog-products__price-btn(href="") <i></i> В корзину
              .catalog-products__item
                .catalog-products__img-wrap
                  img(src="/src/assets/images/pic-catalog.png")
                  img.product__item-color(src="/src/assets/images/Palette.svg")
                .catalog-products__text-wrap
                  h4.catalog-products__title Interior Stop Primer
                  span.catalog-products__small-title Краска антигрибковая
                  p.catalog-products__text 100% акриловая краска, с добавлением фунгицидов, предотвращающая образование плесени и грибка.
                  .catalog-products__filters-wrap
                    .catalog-products__filters-item
                      img(src="/src/assets/images/semi-matt.png")
                      span Полуматовая
                    .catalog-products__filters-item
                      img(src="/src/assets/images/antibacterial.png")
                      span Акриловая
                    .catalog-products__filters-item
                      img(src="/src/assets/images/umbrella.png")
                      span Влагостойкая
                .catalog-products__price-wrap
                  .catalog-products__price-inner
                    .catalog-products__price 2 500  ₽/м <sup>2</sup>
                  a.btn.btn--green.catalog-products__price-btn(href="") <i></i> В корзину
              .catalog-products__item
                .catalog-products__img-wrap
                  img(src="/src/assets/images/pic-catalog.png")
                  img.product__item-color.product__item-active(src="/src/assets/images/Palette.svg")
                .catalog-products__text-wrap
                  h4.catalog-products__title Flutex 5
                  span.catalog-products__small-title Краска антигрибковая
                  p.catalog-products__text 100% акриловая краска, с добавлением фунгицидов, предотвращающая образование плесени и грибка.
                  .catalog-products__filters-wrap
                    .catalog-products__filters-item
                      img(src="/src/assets/images/semi-matt.png")
                      span Полуматовая
                    .catalog-products__filters-item
                      img(src="/src/assets/images/antibacterial.png")
                      span Акриловая
                    .catalog-products__filters-item
                      img(src="/src/assets/images/water-resistant.png")
                      span Антибактериальная
                .catalog-products__price-wrap
                  .catalog-products__price-inner
                    .catalog-products__price 2 500  ₽/м <sup>2</sup>
                  a.btn.btn--green.catalog-products__price-btn(href="") <i></i> В корзину
              .catalog-products__item
                .catalog-products__img-wrap
                  img(src="/src/assets/images/pic-catalog.png")
                  img.product__item-color.product__item-active(src="/src/assets/images/Palette.svg")
                .catalog-products__text-wrap
                  h4.catalog-products__title Flugger 30
                  span.catalog-products__small-title Краска антигрибковая
                  p.catalog-products__text 100% акриловая краска, с добавлением фунгицидов, предотвращающая образование плесени и грибка.
                  .catalog-products__filters-wrap
                    .catalog-products__filters-item
                      img(src="/src/assets/images/semi-matt.png")
                      span Полуматовая
                    .catalog-products__filters-item
                      img(src="/src/assets/images/antibacterial.png")
                      span Акриловая
                    .catalog-products__filters-item
                      img(src="/src/assets/images/water-resistant.png")
                      span Антибактериальная
                .catalog-products__price-wrap
                  .catalog-products__price-inner
                    .catalog-products__price 2 500  ₽/м <sup>2</sup>
                    .catalog-products__price--cross 4 640  ₽/м <sup>2</sup>
                  a.btn.btn--green.catalog-products__price-btn(href="") <i></i> В корзину
              .catalog-products__item
                .catalog-products__img-wrap
                  img(src="/src/assets/images/pic-catalog.png")
                  img.product__item-color(src="/src/assets/images/Palette.svg")
                .catalog-products__text-wrap
                  h4.catalog-products__title HB Expert Yellow
                  span.catalog-products__small-title Кисть из смешанной белой щетины
                  p.catalog-products__text Смешанная щетина предназначена для работы со всеми типами красок и лаков.
                .catalog-products__price-wrap
                  .catalog-products__price-inner
                    .catalog-products__price 250  ₽
                  a.btn.btn--green.catalog-products__price-btn(href="") <i></i> В корзину
              .catalog-products__item
                .catalog-products__img-wrap
                  img(src="/src/assets/images/pic-catalog.png")
                  img.product__item-color.product__item-active(src="/src/assets/images/Palette.svg")
                .catalog-products__text-wrap
                  h4.catalog-products__title Dekso 5
                  span.catalog-products__small-title Краска антигрибковая
                  p.catalog-products__text 100% акриловая краска, с добавлением фунгицидов, предотвращающая образование плесени и грибка.
                  .catalog-products__filters-wrap
                    .catalog-products__filters-item
                      img(src="/src/assets/images/semi-matt.png")
                      span Полуматовая
                    .catalog-products__filters-item
                      img(src="/src/assets/images/antibacterial.png")
                      span Акриловая
                    .catalog-products__filters-item
                      img(src="/src/assets/images/water-resistant.png")
                      span Антибактериальная
                .catalog-products__price-wrap
                  .catalog-products__price-inner
                    .catalog-products__price 2 500  ₽/м <sup>2</sup>
                    .catalog-products__price--cross 4 640  ₽/м <sup>2</sup>
                  a.btn.btn--green.catalog-products__price-btn(href="") <i></i> В корзину
            .pagination
              a.btn.btn--blue Показать ещё
              .pagination-inner
                .prev <svg width="13" height="23" viewBox="0 0 13 23" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M0.867187 11.9966L10.7703 23.0001L13.0002 20.9932L4.90328 11.9966L13.0002 3.00006L10.7703 0.993164L0.867187 11.9966Z"/>
                  </svg>
                button.pagination-btn.active 1
                button.pagination-btn 2
                button.pagination-btn 3
                button.pagination-dots ...
                button.pagination-btn 10
                .next.active <svg width="13" height="23" viewBox="0 0 13 23" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M13 11.9966L3.0969 0.993107L0.867015 3L8.96391 11.9966L0.867015 20.9931L3.0969 23L13 11.9966Z"/>
                  </svg>
    include ../common/footer