doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
        block title
            title webpack Project
    body
        include ../common/mixins
        include ../common/header
        .main-wrapper
            .wrapper-prev
                a.wrapper-prev__link
                    | Назад к выбору каталога

            section
                h1.pre-palette
                    |Выберите палитру
                .palette-wrap
                    .popup__color-item
                        a.cat__item.color__modal(href="#color__modal")
                            span.cat__item-segment
                                img(src="/src/assets/images/fl_1311.png")
                            span.cat__item-segment
                                img(src="/src/assets/images/fl_1312.png")
                            span.cat__item-segment
                                img(src="/src/assets/images/fl_1313.png")
                            span.cat__item-segment
                                img(src="/src/assets/images/fl_1314.png")
                            span.cat__item-segment
                                img(src="/src/assets/images/fl_1315.png")
                            span.cat__item-segment
                                img(src="/src/assets/images/fl_1316.png")
                            span.cat__item-segment
                                img(src="/src/assets/images/fl_1317.png")
                            span.cat__item-segment
                                img(src="/src/assets/images/fl_1318.png")
                            span.cat__item-segment
                                img(src="/src/assets/images/fl_1321.png")
                            span.cat__item-segment
                                img(src="/src/assets/images/fl_1322.png")
                            span.cat__item-segment
                                img(src="/src/assets/images/fl_1323.png")
                            span.cat__item-segment
                                img(src="/src/assets/images/fl_1324.png")
                            span.cat__item-segment
                                img(src="/src/assets/images/fl_1325.png")
                            span.cat__item-segment
                                img(src="/src/assets/images/fl_1326.png")
                            span.cat__item-segment
                                img(src="/src/assets/images/fl_1327.png")
                    .popup__color-item
                        a.cat__item.color__modal(href="#color__modal")
                            span.cat__item-segment
                                img(src="/src/assets/images/fl_1311.png")
                            span.cat__item-segment
                                img(src="/src/assets/images/fl_1312.png")
                            span.cat__item-segment
                                img(src="/src/assets/images/fl_1313.png")
                            span.cat__item-segment
                                img(src="/src/assets/images/fl_1314.png")
                            span.cat__item-segment
                                img(src="/src/assets/images/fl_1315.png")
                            span.cat__item-segment
                                img(src="/src/assets/images/fl_1316.png")
                            span.cat__item-segment
                                img(src="/src/assets/images/fl_1317.png")
                            span.cat__item-segment
                                img(src="/src/assets/images/fl_1318.png")
                            span.cat__item-segment
                                img(src="/src/assets/images/fl_1321.png")
                            span.cat__item-segment
                                img(src="/src/assets/images/fl_1322.png")
                            span.cat__item-segment
                                img(src="/src/assets/images/fl_1323.png")
                            span.cat__item-segment
                                img(src="/src/assets/images/fl_1324.png")
                            span.cat__item-segment
                                img(src="/src/assets/images/fl_1325.png")
                            span.cat__item-segment
                                img(src="/src/assets/images/fl_1326.png")
                            span.cat__item-segment
                                img(src="/src/assets/images/fl_1327.png")
                    .popup__color-item
                        a.cat__item.color__modal(href="#color__modal")
                            span.cat__item-segment
                                img(src="/src/assets/images/fl_1311.png")
                            span.cat__item-segment
                                img(src="/src/assets/images/fl_1312.png")
                            span.cat__item-segment
                                img(src="/src/assets/images/fl_1313.png")
                            span.cat__item-segment
                                img(src="/src/assets/images/fl_1314.png")
                            span.cat__item-segment
                                img(src="/src/assets/images/fl_1315.png")
                            span.cat__item-segment
                                img(src="/src/assets/images/fl_1316.png")
                            span.cat__item-segment
                                img(src="/src/assets/images/fl_1317.png")
                            span.cat__item-segment
                                img(src="/src/assets/images/fl_1318.png")
                            span.cat__item-segment
                                img(src="/src/assets/images/fl_1321.png")
                            span.cat__item-segment
                                img(src="/src/assets/images/fl_1322.png")
                            span.cat__item-segment
                                img(src="/src/assets/images/fl_1323.png")
                            span.cat__item-segment
                                img(src="/src/assets/images/fl_1324.png")
                            span.cat__item-segment
                                img(src="/src/assets/images/fl_1325.png")
                            span.cat__item-segment
                                img(src="/src/assets/images/fl_1326.png")
                            span.cat__item-segment
                                img(src="/src/assets/images/fl_1327.png")
                    .popup__color-item
                        a.cat__item.color__modal(href="#color__modal")
                            span.cat__item-segment
                                img(src="/src/assets/images/fl_1311.png")
                            span.cat__item-segment
                                img(src="/src/assets/images/fl_1312.png")
                            span.cat__item-segment
                                img(src="/src/assets/images/fl_1313.png")
                            span.cat__item-segment
                                img(src="/src/assets/images/fl_1314.png")
                            span.cat__item-segment
                                img(src="/src/assets/images/fl_1315.png")
                            span.cat__item-segment
                                img(src="/src/assets/images/fl_1316.png")
                            span.cat__item-segment
                                img(src="/src/assets/images/fl_1317.png")
                            span.cat__item-segment
                                img(src="/src/assets/images/fl_1318.png")
                            span.cat__item-segment
                                img(src="/src/assets/images/fl_1321.png")
                            span.cat__item-segment
                                img(src="/src/assets/images/fl_1322.png")
                            span.cat__item-segment
                                img(src="/src/assets/images/fl_1323.png")
                            span.cat__item-segment
                                img(src="/src/assets/images/fl_1324.png")
                            span.cat__item-segment
                                img(src="/src/assets/images/fl_1325.png")
                            span.cat__item-segment
                                img(src="/src/assets/images/fl_1326.png")
                            span.cat__item-segment
                                img(src="/src/assets/images/fl_1327.png")
                    .popup__color-item
                        a.cat__item.color__modal(href="#color__modal")
                            span.cat__item-segment
                                img(src="/src/assets/images/fl_1311.png")
                            span.cat__item-segment
                                img(src="/src/assets/images/fl_1312.png")
                            span.cat__item-segment
                                img(src="/src/assets/images/fl_1313.png")
                            span.cat__item-segment
                                img(src="/src/assets/images/fl_1314.png")
                            span.cat__item-segment
                                img(src="/src/assets/images/fl_1315.png")
                            span.cat__item-segment
                                img(src="/src/assets/images/fl_1316.png")
                            span.cat__item-segment
                                img(src="/src/assets/images/fl_1317.png")
                            span.cat__item-segment
                                img(src="/src/assets/images/fl_1318.png")
                            span.cat__item-segment
                                img(src="/src/assets/images/fl_1321.png")
                            span.cat__item-segment
                                img(src="/src/assets/images/fl_1322.png")
                            span.cat__item-segment
                                img(src="/src/assets/images/fl_1323.png")
                            span.cat__item-segment
                                img(src="/src/assets/images/fl_1324.png")
                            span.cat__item-segment
                                img(src="/src/assets/images/fl_1325.png")
                            span.cat__item-segment
                                img(src="/src/assets/images/fl_1326.png")
                            span.cat__item-segment
                                img(src="/src/assets/images/fl_1327.png")
                    .popup__color-item
                        a.cat__item.color__modal(href="#color__modal")
                            span.cat__item-segment
                                img(src="/src/assets/images/fl_1311.png")
                            span.cat__item-segment
                                img(src="/src/assets/images/fl_1312.png")
                            span.cat__item-segment
                                img(src="/src/assets/images/fl_1313.png")
                            span.cat__item-segment
                                img(src="/src/assets/images/fl_1314.png")
                            span.cat__item-segment
                                img(src="/src/assets/images/fl_1315.png")
                            span.cat__item-segment
                                img(src="/src/assets/images/fl_1316.png")
                            span.cat__item-segment
                                img(src="/src/assets/images/fl_1317.png")
                            span.cat__item-segment
                                img(src="/src/assets/images/fl_1318.png")
                            span.cat__item-segment
                                img(src="/src/assets/images/fl_1321.png")
                            span.cat__item-segment
                                img(src="/src/assets/images/fl_1322.png")
                            span.cat__item-segment
                                img(src="/src/assets/images/fl_1323.png")
                            span.cat__item-segment
                                img(src="/src/assets/images/fl_1324.png")
                            span.cat__item-segment
                                img(src="/src/assets/images/fl_1325.png")
                            span.cat__item-segment
                                img(src="/src/assets/images/fl_1326.png")
                            span.cat__item-segment
                                img(src="/src/assets/images/fl_1327.png")
                    .popup__color-item
                        a.cat__item.color__modal(href="#color__modal")
                            span.cat__item-segment
                                img(src="/src/assets/images/fl_1311.png")
                            span.cat__item-segment
                                img(src="/src/assets/images/fl_1312.png")
                            span.cat__item-segment
                                img(src="/src/assets/images/fl_1313.png")
                            span.cat__item-segment
                                img(src="/src/assets/images/fl_1314.png")
                            span.cat__item-segment
                                img(src="/src/assets/images/fl_1315.png")
                            span.cat__item-segment
                                img(src="/src/assets/images/fl_1316.png")
                            span.cat__item-segment
                                img(src="/src/assets/images/fl_1317.png")
                            span.cat__item-segment
                                img(src="/src/assets/images/fl_1318.png")
                            span.cat__item-segment
                                img(src="/src/assets/images/fl_1321.png")
                            span.cat__item-segment
                                img(src="/src/assets/images/fl_1322.png")
                            span.cat__item-segment
                                img(src="/src/assets/images/fl_1323.png")
                            span.cat__item-segment
                                img(src="/src/assets/images/fl_1324.png")
                            span.cat__item-segment
                                img(src="/src/assets/images/fl_1325.png")
                            span.cat__item-segment
                                img(src="/src/assets/images/fl_1326.png")
                            span.cat__item-segment
                                img(src="/src/assets/images/fl_1327.png")

        include ../common/footer.pug