doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
        block title
            title webpack Project
    body
        include ../common/mixins
        include ../common/header
        .main-wrapper
            .wrapper-prev
                a.wrapper-prev__link
                    | Назад к выбору палитры

            section
                h1.pre-palette
                    |Выберите цвет
                .color__items.palette-color
                    a.img__item.popup-modal-dismiss.palette__usefull(href="#")
                        .cat__pol__wrap
                            img.cat__palette(src="/src/assets/images/color-modal-bg.svg")
                            .polette__dismiss.mobile__dismiss
                                img(src="/src/assets/images/ban.svg")
                                p.size-6
                                    | Не доступен
                        div.item__name.size-6
                            | FL P1533
                    a.img__item.popup-modal-dismiss(href="#")
                        img.cat__palette(src="/src/assets/images/color-modal-bg.svg")
                        div.item__name.size-6
                            | FL P1533
                    a.img__item.popup-modal-dismiss(href="#")
                        img.cat__palette(src="/src/assets/images/color-modal-bg.svg")
                        div.item__name.size-6
                            | FL P1533
                    a.img__item.popup-modal-dismiss(href="#")
                        img.cat__palette(src="/src/assets/images/color-modal-bg.svg")
                        div.item__name.size-6
                            | FL P1533
                    a.img__item.popup-modal-dismiss(href="#")
                        img.cat__palette(src="/src/assets/images/color-modal-bg.svg")
                        div.item__name.size-6
                            | FL P1533
                    a.img__item.popup-modal-dismiss(href="#")
                        img.cat__palette(src="/src/assets/images/color-modal-bg.svg")
                        div.item__name.size-6
                            | FL P1533
                    a.img__item.popup-modal-dismiss(href="#")
                        img.cat__palette(src="/src/assets/images/color-modal-bg.svg")
                        div.item__name.size-6
                            | FL P1533
                    a.img__item.popup-modal-dismiss(href="#")
                        img.cat__palette(src="/src/assets/images/color-modal-bg.svg")
                        div.item__name.size-6
                            | FL P1533
                    a.img__item.popup-modal-dismiss(href="#")
                        img.cat__palette(src="/src/assets/images/color-modal-bg.svg")
                        div.item__name.size-6
                            | FL P1533
                    a.img__item.popup-modal-dismiss(href="#")
                        img.cat__palette(src="/src/assets/images/color-modal-bg.svg")
                        div.item__name.size-6
                            | FL P1533
                    a.img__item.popup-modal-dismiss(href="#")
                        img.cat__palette(src="/src/assets/images/color-modal-bg.svg")
                        div.item__name.size-6
                            | FL P1533
                    a.img__item.popup-modal-dismiss(href="#")
                        img.cat__palette(src="/src/assets/images/color-modal-bg.svg")
                        div.item__name.size-6
                            | FL P1533
                    a.img__item.popup-modal-dismiss(href="#")
                        img.cat__palette(src="/src/assets/images/color-modal-bg.svg")
                        div.item__name.size-6
                            | FL P1533
                    a.img__item.popup-modal-dismiss(href="#")
                        img.cat__palette(src="/src/assets/images/color-modal-bg.svg")
                        div.item__name.size-6
                            | FL P1533
                    a.img__item.popup-modal-dismiss(href="#")
                        img.cat__palette(src="/src/assets/images/color-modal-bg.svg")
                        div.item__name.size-6
                            | FL P1533
                    a.img__item.popup-modal-dismiss(href="#")
                        img.cat__palette(src="/src/assets/images/color-modal-bg.svg")
                        div.item__name.size-6
                            | FL P1533
                    a.img__item.popup-modal-dismiss(href="#")
                        img.cat__palette(src="/src/assets/images/color-modal-bg.svg")
                        div.item__name.size-6
                            | FL P1533
                    a.img__item.popup-modal-dismiss(href="#")
                        img.cat__palette(src="/src/assets/images/color-modal-bg.svg")
                        div.item__name.size-6
                            | FL P1533
                    a.img__item.popup-modal-dismiss(href="#")
                        img.cat__palette(src="/src/assets/images/color-modal-bg.svg")
                        div.item__name.size-6
                            | FL P1533
                    a.img__item.popup-modal-dismiss(href="#")
                        img.cat__palette(src="/src/assets/images/color-modal-bg.svg")
                        div.item__name.size-6
                            | FL P1533
                    a.img__item.popup-modal-dismiss(href="#")
                        img.cat__palette(src="/src/assets/images/color-modal-bg.svg")
                        div.item__name.size-6
                            | FL P1533

        include ../common/footer.pug