doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
        block title
            title webpack Project

    body
        include ../common/mixins
        include ../common/header
        .main-wrapper
            include ../common/prev.pug
            h1.size-2.product__name
                | FLUGGER Interior High Finish 90
            .product__wrapper
                .product__content
                    .product__slider
                        .slider-nav
                            .thumbs
                                .thumb
                                    img(src="/src/assets/images/sub1.png")
                                .thumb
                                    img(src="/src/assets/images/sub2.png")
                                .thumb
                                    img(src="/src/assets/images/sub3.png")
                        #product__carousel.owl-carousel.product__slid
                            .slide
                                .sider__item
                                    img(src="/src/assets/images/product-image.png")
                            .slide.slide2
                                .sider__item
                                    img(src="/src/assets/images/product-image.png")
                            .slide.slide3
                                .sider__item
                                    img(src="/src/assets/images/product-image.png")
                    .content__title.content__title__mobile
                        h2.size-3
                            | Стоимость 267 ₽ / м
                            sup
                                |2
                    .product__aside.mobile__product__aside
                        .aside__wrap
                            .product__title__wrap
                                p.size-4
                                    | Цвет
                                .product__palette
                                    img(src="/src/assets/images/Palette.svg")
                                    a.size-5(href="#")
                                        | Палитра
                            .product__color
                                .row__color-coloblock.product__color-row
                                    span.row__color-coloblock-item
                                        #color__styles.color_block(style="background: #FFFFFF;")
                                .product__item
                                    .item__number.size-5
                                        | № по каталогу
                                    input#input__value.item__color.size-5(type="search" placeholder="Белый")
                            .product__size
                                p.size-4
                                    | Объем
                                .product__calculator
                                    img(src="/src/assets/images/calculator.svg")
                                    a.size-5(href="#")
                                        | Калькулятор
                            form.product__form
                                .input__wrap
                                    .input__item
                                        button.minus(type="button")
                                            i.fas.fa-minus
                                        .quantity
                                            input.qty.input-text(type="number" value="2" inputmode="numeric")
                                        button.plus(type="button")
                                            i.fas.fa-plus
                                    .input__info
                                        .info
                                            ul
                                                li
                                                    div.size-5
                                                        | 0.35 л
                                                    div
                                                    div.size-5.info__price
                                                        | 600 ₽
                                .input__wrap
                                    .input__item
                                        button.minus(type="button")
                                            i.fas.fa-minus
                                        .quantity
                                            input.qty.input-text(type="number" value="2" inputmode="numeric")
                                        button.plus(type="button")
                                            i.fas.fa-plus
                                    .input__info
                                        .info
                                            ul
                                                li
                                                    div.size-5
                                                        | 0.35 л
                                                    div
                                                    div.size-5.info__price
                                                        | 600 ₽
                                .input__wrap
                                    .input__item
                                        button.minus(type="button")
                                            i.fas.fa-minus
                                        .quantity
                                            input.qty.input-text(type="number" value="2" inputmode="numeric")
                                        button.plus(type="button")
                                            i.fas.fa-plus
                                    .input__info
                                        .info
                                            ul
                                                li
                                                    div.size-5
                                                        | 0.35 л
                                                    div
                                                    div.size-5.info__price
                                                        | 600 ₽
                                .input__wrap
                                    .input__item
                                        button.minus(type="button")
                                            i.fas.fa-minus
                                        .quantity
                                            input.qty.input-text(type="number" value="2" inputmode="numeric")
                                        button.plus(type="button")
                                            i.fas.fa-plus
                                    .input__info
                                        .info
                                            ul
                                                li
                                                    div.size-5
                                                        | 0.35 л
                                                    div
                                                    div.size-5.info__price
                                                        | 600 ₽
                                .form__discaunt
                                    .discount
                                        ul
                                            li
                                                div.size-5
                                                    | Ваша скидка: 3%
                                                div
                                                div.size-5.discount__info
                                                    | –153 ₽
                                .form__total
                                    div.size-4
                                        | Итого
                                    .total__price.size-2
                                        | 6 630  ₽
                                .product__count.size-5
                                    | за 3,20 л
                                .form__submit
                                    button.btn-primary.size-4
                                        img(src="/src/assets/images/basket-mobile.svg")
                                        | В корзину
                    .content__wrap
                        .content__title
                            h2.size-3
                                |Стоимость 267 ₽ / м
                                sup
                                    |2
                            .badge__img
                                img(src="/src/assets/images/badge1.svg")
                                img(src="/src/assets/images/badge2.svg")
                                img(src="/src/assets/images/badge3.svg")
                        .content__text.size-5
                            p
                                | Акриловая эмаль на водной основе INTERIOR High Finish 50, обеспечивает жёсткую и прочную поверхность, создавая легко моющееся покрытие. Окрашиваемая поверхность приобретает красивый внешний вид.
                                |
                                | Степень блеска краски: глянцевая-90
                                |
                                | Interior High Finish 50 маркирована европейским знаком ECO.
                                |
                                | Рекомендуется для внутренних работ по дереву, загрунтованному металлу, в случаях, когда необходимо получить стойкую к механическим воздействиям, хорошо моющуюся поверхность. Например: кухонные фасады, мебель, подоконники, плинтуса, панели, фурнитура, внутренние элементы окон.
                        a.size-5.button__close(type="button")
                            |Показать
                        .characteristics__wrap
                            .char__left
                                h4.size-3
                                    |Характеристики
                                .table__wrap
                                    .table__item.size-5
                                        .table__item__name
                                            |Расход
                                        .table__item__desc
                                            |167 ₽ / м
                                            sup
                                                |2
                                    .table__item.size-5
                                        .table__item__name
                                            | Время высыхания
                                        .table__item__desc
                                            | 6 ч.
                                    .table__item.size-5
                                        .table__item__name
                                            | Степень глянца
                                        .table__item__desc
                                            | Глянцевая
                                    .table__item.size-5
                                        .table__item__name
                                            | Основа
                                        .table__item__desc
                                            | Акриловая
                                    .table__item.size-5
                                        .table__item__name
                                            | Свойства
                                        .table__item__desc
                                            | Декоративная
                                    .table__item.size-5
                                        .table__item__name
                                            | Артикулы
                                        .table__item__desc
                                            p
                                                | 74710 — BASE 1 (0,35L)
                                            a(href="#")
                                                |Смотреть все

                            .char__right
                                h4.size-3
                                    |Подходит для
                                .accessories__wrap
                                    img(src="/src/assets/images/vanna.svg")
                                    img(src="/src/assets/images/spal.svg")
                                    img(src="/src/assets/images/ulica.svg")
                        .product__document
                            h2.size-3
                                |Документация к товару
                            .all__docs
                                .docs__item
                                    img(src="/src/assets/images/pdf.svg")
                                    a.size-5(href="#")
                                        |Технический паспорт.pdf
                                .docs__item
                                    img(src="/src/assets/images/word.svg")
                                    a.size-5(href="#")
                                        | Интерьерная акриловая краска.docx

                .product__aside
                    .aside__wrap
                        .product__title__wrap
                            p.size-4
                                |Цвет
                            .product__palette
                                img(src="/src/assets/images/Palette.svg")
                                a.size-5.category-modal(href="#category-modal")
                                    |Палитра
                                .white-popup-block.mfp-hide#category-modal
                                    .category__wrapper
                                        .tittle__wrap
                                            h1.size-3
                                                | Выберите каталог цветов
                                            a.popup-modal-dismiss
                                                img(src="/src/assets/images/Close-thick.svg")
                                        .category__items
                                            a.cat__item.palette__modal(href="#palette__modal")
                                                h4.size-5
                                                    | Flugger 900
                                                p.size-6
                                                    | Дизайнерские цвета
                                            a.cat__item.palette__modal(href="#palette__modal")
                                                h4.size-5
                                                    | Flugger 900
                                                p.size-6
                                                    | Дизайнерские цвета
                                            a.cat__item.palette__modal(href="#palette__modal")
                                                h4.size-5
                                                    | Flugger 900
                                                p.size-6
                                                    | Дизайнерские цвета
                                            a.cat__item.palette__modal(href="#palette__modal")
                                                h4.size-5
                                                    | Flugger 900
                                                p.size-6
                                                    | Дизайнерские цвета
                                            a.cat__item.palette__modal(href="#palette__modal")
                                                h4.size-5
                                                    | Flugger 900
                                                p.size-6
                                                    | Дизайнерские цвета
                                            a.cat__item.palette__modal(href="#palette__modal")
                                                h4.size-5
                                                    | Flugger 900
                                                p.size-6
                                                    | Дизайнерские цвета
                                .white-popup-block.mfp-hide#palette__modal
                                    .category__wrapper.palette__wrapper
                                        .tittle__wrap
                                            h1.size-3
                                                | Выберите палитру
                                            a.popup-modal-dismiss
                                                img(src="/src/assets/images/Close-thick.svg")
                                        .modal__search-wrap
                                            a.back__modal.category-modal(href="#category-modal")
                                                img(src="/src/assets/images/back-modal.svg")
                                                span.size-5
                                                    | Назад к выбору каталога
                                        .palette__items
                                            .popup__color-item.non-active
                                                a.cat__item.color__modal(href="#color__modal")
                                                    span.cat__item-segment
                                                        img(src="/src/assets/images/fl_1311.png")
                                                    span.cat__item-segment
                                                        img(src="/src/assets/images/fl_1312.png")
                                                    span.cat__item-segment
                                                        img(src="/src/assets/images/fl_1313.png")
                                                    span.cat__item-segment
                                                        img(src="/src/assets/images/fl_1314.png")
                                                    span.cat__item-segment
                                                        img(src="/src/assets/images/fl_1315.png")
                                                    span.cat__item-segment
                                                        img(src="/src/assets/images/fl_1316.png")
                                                    span.cat__item-segment
                                                        img(src="/src/assets/images/fl_1317.png")
                                                    span.cat__item-segment
                                                        img(src="/src/assets/images/fl_1318.png")
                                                    span.cat__item-segment
                                                        img(src="/src/assets/images/fl_1321.png")
                                                    span.cat__item-segment
                                                        img(src="/src/assets/images/fl_1322.png")
                                                    span.cat__item-segment
                                                        img(src="/src/assets/images/fl_1323.png")
                                                    span.cat__item-segment
                                                        img(src="/src/assets/images/fl_1324.png")
                                                    span.cat__item-segment
                                                        img(src="/src/assets/images/fl_1325.png")
                                                    span.cat__item-segment
                                                        img(src="/src/assets/images/fl_1326.png")
                                                    span.cat__item-segment
                                                        img(src="/src/assets/images/fl_1327.png")
                                                .non__active-palette
                                                    img(src="/src/assets/images/ban.svg")
                                                    p.size-6
                                                        |Не доступен
                                            .popup__color-item
                                                a.cat__item.color__modal(href="#color__modal")
                                                    span.cat__item-segment
                                                        img(src="/src/assets/images/fl_1311.png")
                                                    span.cat__item-segment
                                                        img(src="/src/assets/images/fl_1312.png")
                                                    span.cat__item-segment
                                                        img(src="/src/assets/images/fl_1313.png")
                                                    span.cat__item-segment
                                                        img(src="/src/assets/images/fl_1314.png")
                                                    span.cat__item-segment
                                                        img(src="/src/assets/images/fl_1315.png")
                                                    span.cat__item-segment
                                                        img(src="/src/assets/images/fl_1316.png")
                                                    span.cat__item-segment
                                                        img(src="/src/assets/images/fl_1317.png")
                                                    span.cat__item-segment
                                                        img(src="/src/assets/images/fl_1318.png")
                                                    span.cat__item-segment
                                                        img(src="/src/assets/images/fl_1321.png")
                                                    span.cat__item-segment
                                                        img(src="/src/assets/images/fl_1322.png")
                                                    span.cat__item-segment
                                                        img(src="/src/assets/images/fl_1323.png")
                                                    span.cat__item-segment
                                                        img(src="/src/assets/images/fl_1324.png")
                                                    span.cat__item-segment
                                                        img(src="/src/assets/images/fl_1325.png")
                                                    span.cat__item-segment
                                                        img(src="/src/assets/images/fl_1326.png")
                                                    span.cat__item-segment
                                                        img(src="/src/assets/images/fl_1327.png")
                                            .popup__color-item
                                                a.cat__item.color__modal(href="#color__modal")
                                                    span.cat__item-segment
                                                        img(src="/src/assets/images/fl_1311.png")
                                                    span.cat__item-segment
                                                        img(src="/src/assets/images/fl_1312.png")
                                                    span.cat__item-segment
                                                        img(src="/src/assets/images/fl_1313.png")
                                                    span.cat__item-segment
                                                        img(src="/src/assets/images/fl_1314.png")
                                                    span.cat__item-segment
                                                        img(src="/src/assets/images/fl_1315.png")
                                                    span.cat__item-segment
                                                        img(src="/src/assets/images/fl_1316.png")
                                                    span.cat__item-segment
                                                        img(src="/src/assets/images/fl_1317.png")
                                                    span.cat__item-segment
                                                        img(src="/src/assets/images/fl_1318.png")
                                                    span.cat__item-segment
                                                        img(src="/src/assets/images/fl_1321.png")
                                                    span.cat__item-segment
                                                        img(src="/src/assets/images/fl_1322.png")
                                                    span.cat__item-segment
                                                        img(src="/src/assets/images/fl_1323.png")
                                                    span.cat__item-segment
                                                        img(src="/src/assets/images/fl_1324.png")
                                                    span.cat__item-segment
                                                        img(src="/src/assets/images/fl_1325.png")
                                                    span.cat__item-segment
                                                        img(src="/src/assets/images/fl_1326.png")
                                                    span.cat__item-segment
                                                        img(src="/src/assets/images/fl_1327.png")
                                            .popup__color-item
                                                a.cat__item.color__modal(href="#color__modal")
                                                    span.cat__item-segment
                                                        img(src="/src/assets/images/fl_1311.png")
                                                    span.cat__item-segment
                                                        img(src="/src/assets/images/fl_1312.png")
                                                    span.cat__item-segment
                                                        img(src="/src/assets/images/fl_1313.png")
                                                    span.cat__item-segment
                                                        img(src="/src/assets/images/fl_1314.png")
                                                    span.cat__item-segment
                                                        img(src="/src/assets/images/fl_1315.png")
                                                    span.cat__item-segment
                                                        img(src="/src/assets/images/fl_1316.png")
                                                    span.cat__item-segment
                                                        img(src="/src/assets/images/fl_1317.png")
                                                    span.cat__item-segment
                                                        img(src="/src/assets/images/fl_1318.png")
                                                    span.cat__item-segment
                                                        img(src="/src/assets/images/fl_1321.png")
                                                    span.cat__item-segment
                                                        img(src="/src/assets/images/fl_1322.png")
                                                    span.cat__item-segment
                                                        img(src="/src/assets/images/fl_1323.png")
                                                    span.cat__item-segment
                                                        img(src="/src/assets/images/fl_1324.png")
                                                    span.cat__item-segment
                                                        img(src="/src/assets/images/fl_1325.png")
                                                    span.cat__item-segment
                                                        img(src="/src/assets/images/fl_1326.png")
                                                    span.cat__item-segment
                                                        img(src="/src/assets/images/fl_1327.png")
                                            .popup__color-item
                                                a.cat__item.color__modal(href="#color__modal")
                                                    span.cat__item-segment
                                                        img(src="/src/assets/images/fl_1311.png")
                                                    span.cat__item-segment
                                                        img(src="/src/assets/images/fl_1312.png")
                                                    span.cat__item-segment
                                                        img(src="/src/assets/images/fl_1313.png")
                                                    span.cat__item-segment
                                                        img(src="/src/assets/images/fl_1314.png")
                                                    span.cat__item-segment
                                                        img(src="/src/assets/images/fl_1315.png")
                                                    span.cat__item-segment
                                                        img(src="/src/assets/images/fl_1316.png")
                                                    span.cat__item-segment
                                                        img(src="/src/assets/images/fl_1317.png")
                                                    span.cat__item-segment
                                                        img(src="/src/assets/images/fl_1318.png")
                                                    span.cat__item-segment
                                                        img(src="/src/assets/images/fl_1321.png")
                                                    span.cat__item-segment
                                                        img(src="/src/assets/images/fl_1322.png")
                                                    span.cat__item-segment
                                                        img(src="/src/assets/images/fl_1323.png")
                                                    span.cat__item-segment
                                                        img(src="/src/assets/images/fl_1324.png")
                                                    span.cat__item-segment
                                                        img(src="/src/assets/images/fl_1325.png")
                                                    span.cat__item-segment
                                                        img(src="/src/assets/images/fl_1326.png")
                                                    span.cat__item-segment
                                                        img(src="/src/assets/images/fl_1327.png")
                                            .popup__color-item
                                                a.cat__item.color__modal(href="#color__modal")
                                                    span.cat__item-segment
                                                        img(src="/src/assets/images/fl_1311.png")
                                                    span.cat__item-segment
                                                        img(src="/src/assets/images/fl_1312.png")
                                                    span.cat__item-segment
                                                        img(src="/src/assets/images/fl_1313.png")
                                                    span.cat__item-segment
                                                        img(src="/src/assets/images/fl_1314.png")
                                                    span.cat__item-segment
                                                        img(src="/src/assets/images/fl_1315.png")
                                                    span.cat__item-segment
                                                        img(src="/src/assets/images/fl_1316.png")
                                                    span.cat__item-segment
                                                        img(src="/src/assets/images/fl_1317.png")
                                                    span.cat__item-segment
                                                        img(src="/src/assets/images/fl_1318.png")
                                                    span.cat__item-segment
                                                        img(src="/src/assets/images/fl_1321.png")
                                                    span.cat__item-segment
                                                        img(src="/src/assets/images/fl_1322.png")
                                                    span.cat__item-segment
                                                        img(src="/src/assets/images/fl_1323.png")
                                                    span.cat__item-segment
                                                        img(src="/src/assets/images/fl_1324.png")
                                                    span.cat__item-segment
                                                        img(src="/src/assets/images/fl_1325.png")
                                                    span.cat__item-segment
                                                        img(src="/src/assets/images/fl_1326.png")
                                                    span.cat__item-segment
                                                        img(src="/src/assets/images/fl_1327.png")
                                            .popup__color-item
                                                a.cat__item.color__modal(href="#color__modal")
                                                    span.cat__item-segment
                                                        img(src="/src/assets/images/fl_1311.png")
                                                    span.cat__item-segment
                                                        img(src="/src/assets/images/fl_1312.png")
                                                    span.cat__item-segment
                                                        img(src="/src/assets/images/fl_1313.png")
                                                    span.cat__item-segment
                                                        img(src="/src/assets/images/fl_1314.png")
                                                    span.cat__item-segment
                                                        img(src="/src/assets/images/fl_1315.png")
                                                    span.cat__item-segment
                                                        img(src="/src/assets/images/fl_1316.png")
                                                    span.cat__item-segment
                                                        img(src="/src/assets/images/fl_1317.png")
                                                    span.cat__item-segment
                                                        img(src="/src/assets/images/fl_1318.png")
                                                    span.cat__item-segment
                                                        img(src="/src/assets/images/fl_1321.png")
                                                    span.cat__item-segment
                                                        img(src="/src/assets/images/fl_1322.png")
                                                    span.cat__item-segment
                                                        img(src="/src/assets/images/fl_1323.png")
                                                    span.cat__item-segment
                                                        img(src="/src/assets/images/fl_1324.png")
                                                    span.cat__item-segment
                                                        img(src="/src/assets/images/fl_1325.png")
                                                    span.cat__item-segment
                                                        img(src="/src/assets/images/fl_1326.png")
                                                    span.cat__item-segment
                                                        img(src="/src/assets/images/fl_1327.png")
                                        .modal__warning
                                            img(src="/src/assets/images/warning-filled-dd.svg")
                                            p.size-6
                                                | Внимание: реальные цвета могут немного отличаться, от видимых на экране всвязи с искажением цветов мониторами.
                                .white-popup-block.mfp-hide#color__modal
                                    .category__wrapper.palette__wrapper
                                        .tittle__wrap
                                            h1.size-3
                                                | Выберите цвет
                                            a.popup-modal-dismiss
                                                img(src="/src/assets/images/Close-thick.svg")
                                        .modal__search-wrap
                                            a.back__modal.palette__modal(href="#palette__modal")
                                                img(src="/src/assets/images/back-modal.svg")
                                                span.size-5
                                                    | Назад к выбору палитры
                                            .search__modal-wrap
                                                form
                                                    .search-wrap
                                                        button.modal__button
                                                            img(src="/src/assets/images/search-modal.svg")
                                                        input.modal__search(type="search" placeholder="Поиск по номеру")
                                        .color__items
                                            a.img__item.popup-modal-dismiss(href="#")
                                                img.cat__palette(src="/src/assets/images/color-modal-bg.svg" data-color="#000")
                                                div.item__name.size-6
                                                    | FL P1533
                                            a.img__item.popup-modal-dismiss.palette__usefull(href="#")
                                                .cat__pol__wrap
                                                    img.cat__palette(src="/src/assets/images/color-modal-bg.svg")
                                                    .polette__dismiss
                                                        img(src="/src/assets/images/ban.svg")
                                                        p.size-6
                                                            |Не доступен
                                                div.item__name.size-6
                                                    | FL P1533
                                            a.img__item.popup-modal-dismiss(href="#")
                                                img.cat__palette(src="/src/assets/images/color-modal-bg.svg")
                                                div.item__name.size-6
                                                    | FL P1533
                                            a.img__item.popup-modal-dismiss(href="#")
                                                img.cat__palette(src="/src/assets/images/color-modal-bg.svg")
                                                div.item__name.size-6
                                                    | FL P1533
                                            a.img__item.popup-modal-dismiss(href="#")
                                                img.cat__palette(src="/src/assets/images/color-modal-bg.svg")
                                                div.item__name.size-6
                                                    | FL P1533
                                            a.img__item.popup-modal-dismiss(href="#")
                                                img.cat__palette(src="/src/assets/images/color-modal-bg.svg")
                                                div.item__name.size-6
                                                    | FL P1533
                                            a.img__item.popup-modal-dismiss(href="#")
                                                img.cat__palette(src="/src/assets/images/color-modal-bg.svg")
                                                div.item__name.size-6
                                                    | FL P1533
                                            a.img__item.popup-modal-dismiss(href="#")
                                                img.cat__palette(src="/src/assets/images/color-modal-bg.svg")
                                                div.item__name.size-6
                                                    | FL P1533
                                            a.img__item.popup-modal-dismiss(href="#")
                                                img.cat__palette(src="/src/assets/images/color-modal-bg.svg")
                                                div.item__name.size-6
                                                    | FL P1533
                                            a.img__item.popup-modal-dismiss(href="#")
                                                img.cat__palette(src="/src/assets/images/color-modal-bg.svg")
                                                div.item__name.size-6
                                                    | FL P1533
                                            a.img__item.popup-modal-dismiss(href="#")
                                                img.cat__palette(src="/src/assets/images/color-modal-bg.svg")
                                                div.item__name.size-6
                                                    | FL P1533
                                            a.img__item.popup-modal-dismiss(href="#")
                                                img.cat__palette(src="/src/assets/images/color-modal-bg.svg")
                                                div.item__name.size-6
                                                    | FL P1533
                                            a.img__item.popup-modal-dismiss(href="#")
                                                img.cat__palette(src="/src/assets/images/color-modal-bg.svg")
                                                div.item__name.size-6
                                                    | FL P1533
                                            a.img__item.popup-modal-dismiss(href="#")
                                                img.cat__palette(src="/src/assets/images/color-modal-bg.svg")
                                                div.item__name.size-6
                                                    | FL P1533
                                            a.img__item.popup-modal-dismiss(href="#")
                                                img.cat__palette(src="/src/assets/images/color-modal-bg.svg")
                                                div.item__name.size-6
                                                    | FL P1533
                                            a.img__item.popup-modal-dismiss(href="#")
                                                img.cat__palette(src="/src/assets/images/color-modal-bg.svg")
                                                div.item__name.size-6
                                                    | FL P1533
                                            a.img__item.popup-modal-dismiss(href="#")
                                                img.cat__palette(src="/src/assets/images/color-modal-bg.svg")
                                                div.item__name.size-6
                                                    | FL P1533
                                            a.img__item.popup-modal-dismiss(href="#")
                                                img.cat__palette(src="/src/assets/images/color-modal-bg.svg")
                                                div.item__name.size-6
                                                    | FL P1533
                                            a.img__item.popup-modal-dismiss(href="#")
                                                img.cat__palette(src="/src/assets/images/color-modal-bg.svg")
                                                div.item__name.size-6
                                                    | FL P1533
                                            a.img__item.popup-modal-dismiss(href="#")
                                                img.cat__palette(src="/src/assets/images/color-modal-bg.svg")
                                                div.item__name.size-6
                                                    | FL P1533
                                            a.img__item.popup-modal-dismiss(href="#")
                                                img.cat__palette(src="/src/assets/images/color-modal-bg.svg")
                                                div.item__name.size-6
                                                    | FL P1533
                                            a.img__item.popup-modal-dismiss(href="#")
                                                img.cat__palette(src="/src/assets/images/color-modal-bg.svg")
                                                div.item__name.size-6
                                                    | FL P1533
                                            a.img__item.popup-modal-dismiss(href="#")
                                                img.cat__palette(src="/src/assets/images/color-modal-bg.svg")
                                                div.item__name.size-6
                                                    | FL P1533
                                            a.img__item.popup-modal-dismiss(href="#")
                                                img.cat__palette(src="/src/assets/images/color-modal-bg.svg")
                                                div.item__name.size-6
                                                    | FL P1533
                                            a.img__item.popup-modal-dismiss(href="#")
                                                img.cat__palette(src="/src/assets/images/color-modal-bg.svg")
                                                div.item__name.size-6
                                                    | FL P1533
                                            a.img__item.popup-modal-dismiss(href="#")
                                                img.cat__palette(src="/src/assets/images/color-modal-bg.svg")
                                                div.item__name.size-6
                                                    | FL P1533
                                            a.img__item.popup-modal-dismiss(href="#")
                                                img.cat__palette(src="/src/assets/images/color-modal-bg.svg")
                                                div.item__name.size-6
                                                    | FL P1533
                                            a.img__item.popup-modal-dismiss(href="#")
                                                img.cat__palette(src="/src/assets/images/color-modal-bg.svg")
                                                div.item__name.size-6
                                                    | FL P1533
                                            a.img__item.popup-modal-dismiss(href="#")
                                                img.cat__palette(src="/src/assets/images/color-modal-bg.svg")
                                                div.item__name.size-6
                                                    | FL P1533
                                            a.img__item.popup-modal-dismiss(href="#")
                                                img.cat__palette(src="/src/assets/images/color-modal-bg.svg")
                                                div.item__name.size-6
                                                    | FL P1533
                                            a.img__item.popup-modal-dismiss(href="#")
                                                img.cat__palette(src="/src/assets/images/color-modal-bg.svg")
                                                div.item__name.size-6
                                                    | FL P1533
                                            a.img__item.popup-modal-dismiss(href="#")
                                                img.cat__palette(src="/src/assets/images/color-modal-bg.svg")
                                                div.item__name.size-6
                                                    | FL P1533
                                            a.img__item.popup-modal-dismiss(href="#")
                                                img.cat__palette(src="/src/assets/images/color-modal-bg.svg")
                                                div.item__name.size-6
                                                    | FL P1533
                                            a.img__item.popup-modal-dismiss(href="#")
                                                img.cat__palette(src="/src/assets/images/color-modal-bg.svg")
                                                div.item__name.size-6
                                                    | FL P1533
                                            a.img__item.popup-modal-dismiss(href="#")
                                                img.cat__palette(src="/src/assets/images/color-modal-bg.svg")
                                                div.item__name.size-6
                                                    | FL P1533
                                            a.img__item.popup-modal-dismiss(href="#")
                                                img.cat__palette(src="/src/assets/images/color-modal-bg.svg")
                                                div.item__name.size-6
                                                    | FL P1533
                                            a.img__item.popup-modal-dismiss(href="#")
                                                img.cat__palette(src="/src/assets/images/color-modal-bg.svg")
                                                div.item__name.size-6
                                                    | FL P1533
                                            a.img__item.popup-modal-dismiss(href="#")
                                                img.cat__palette(src="/src/assets/images/color-modal-bg.svg")
                                                div.item__name.size-6
                                                    | FL P1533
                                            a.img__item.popup-modal-dismiss(href="#")
                                                img.cat__palette(src="/src/assets/images/color-modal-bg.svg")
                                                div.item__name.size-6
                                                    | FL P1533
                                            a.img__item.popup-modal-dismiss(href="#")
                                                img.cat__palette(src="/src/assets/images/color-modal-bg.svg")
                                                div.item__name.size-6
                                                    | FL P1533
                                            a.img__item.popup-modal-dismiss(href="#")
                                                img.cat__palette(src="/src/assets/images/color-modal-bg.svg")
                                                div.item__name.size-6
                                                    | FL P1533
                                            a.img__item.popup-modal-dismiss(href="#")
                                                img.cat__palette(src="/src/assets/images/color-modal-bg.svg")
                                                div.item__name.size-6
                                                    | FL P1533
                                            a.img__item.popup-modal-dismiss(href="#")
                                                img.cat__palette(src="/src/assets/images/color-modal-bg.svg")
                                                div.item__name.size-6
                                                    | FL P1533
                                            a.img__item.popup-modal-dismiss(href="#")
                                                img.cat__palette(src="/src/assets/images/color-modal-bg.svg")
                                                div.item__name.size-6
                                                    | FL P1533
                                            a.img__item.popup-modal-dismiss(href="#")
                                                img.cat__palette(src="/src/assets/images/color-modal-bg.svg")
                                                div.item__name.size-6
                                                    | FL P1533

                                        .modal__warning
                                            img(src="/src/assets/images/warning-filled-dd.svg")
                                            p.size-6
                                                | Внимание: реальные цвета могут немного отличаться от видимых на экране в связи с искажением цветов мониторами.
                        .product__color
                            .row__color-coloblock.product__color-row
                                span.row__color-coloblock-item
                                    #color__style.color_block(style="background: #FFFFFF;")
                            .product__item.product__autocomplete
                                .item__number.size-5
                                    |№ по каталогу
                                input#input__val.item__color.size-5(type="search" placeholder="Белый")
                                .autocomplete(style="display:none")
                                    .autocomplete__wrap-content
                                        .autocomplete__content
                                            .autocomplete__item(data-id="" title="FL123")
                                                .autocomplete__picture
                                                    img(src="/src/assets/images/fl_1311.png")
                                                .autocomplete__name
                                                    span.autocomplete__search
                                                        |FL
                                                    |1311
                                            .autocomplete__item(data-id="" title="FL123")
                                                .autocomplete__picture
                                                    img(src="/src/assets/images/fl_1311.png")
                                                .autocomplete__name
                                                    span.autocomplete__search
                                                        | FL
                                                    | 1311
                                            .autocomplete__item(data-id="" title="FL123")
                                                .autocomplete__picture
                                                    img(src="/src/assets/images/fl_1311.png")
                                                .autocomplete__name
                                                    span.autocomplete__search
                                                        | FL
                                                    | 1311
                                            .autocomplete__item(data-id="" title="FL123")
                                                .autocomplete__picture
                                                    img(src="/src/assets/images/fl_1311.png")
                                                .autocomplete__name
                                                    span.autocomplete__search
                                                        | FL
                                                    | 1311
                                            .autocomplete__item(data-id="" title="FL123")
                                                .autocomplete__picture
                                                    img(src="/src/assets/images/fl_1311.png")
                                                .autocomplete__name
                                                    span.autocomplete__search
                                                        | FL
                                                    | 1311
                                            .autocomplete__item(data-id="" title="FL123")
                                                .autocomplete__picture
                                                    img(src="/src/assets/images/fl_1311.png")
                                                .autocomplete__name
                                                    span.autocomplete__search
                                                        | FL
                                                    | 1311
                                            .autocomplete__item(data-id="" title="FL123")
                                                .autocomplete__picture
                                                    img(src="/src/assets/images/fl_1311.png")
                                                .autocomplete__name
                                                    span.autocomplete__search
                                                        | FL
                                                    | 1311
                                            .autocomplete__item(data-id="" title="FL123")
                                                .autocomplete__picture
                                                    img(src="/src/assets/images/fl_1311.png")
                                                .autocomplete__name
                                                    span.autocomplete__search
                                                        | FL
                                                    | 1311
                                        button.autocomplete__button.autocomplete__button--prev(type="button" title="Пред.")
                                        button.autocomplete__button.autocomplete__button--next(type="button" title="След.")
                        .product__size
                            p.size-4
                                | Объем
                            .product__calculator
                                img(src="/src/assets/images/calculator.svg")
                                a.size-5(href="#")
                                    | Калькулятор
                        form.product__form
                            .input__wrap
                                .input__item
                                    button.minus(type="button")
                                        i.fas.fa-minus
                                    .quantity
                                        input.qty.input-text(type="number" value="2" inputmode="numeric")
                                    button.plus(type="button")
                                        i.fas.fa-plus
                                .input__info
                                    .info
                                        ul
                                            li
                                                div.size-5
                                                    |0.35 л
                                                div
                                                div.size-5.info__price
                                                    |600 ₽
                            .input__wrap
                                .input__item
                                    button.minus(type="button")
                                        i.fas.fa-minus
                                    .quantity
                                        input.qty.input-text(type="number" value="2" inputmode="numeric")
                                    button.plus(type="button")
                                        i.fas.fa-plus
                                .input__info
                                    .info
                                        ul
                                            li
                                                div.size-5
                                                    | 0.35 л
                                                div
                                                div.size-5.info__price
                                                    | 600 ₽
                            .input__wrap
                                .input__item
                                    button.minus(type="button")
                                        i.fas.fa-minus
                                    .quantity
                                        input.qty.input-text(type="number" value="2" inputmode="numeric")
                                    button.plus(type="button")
                                        i.fas.fa-plus
                                .input__info
                                    .info
                                        ul
                                            li
                                                div.size-5
                                                    | 0.35 л
                                                div
                                                div.size-5.info__price
                                                    | 600 ₽
                            .input__wrap
                                .input__item
                                    button.minus(type="button")
                                        i.fas.fa-minus
                                    .quantity
                                        input.qty.input-text(type="number" value="2" inputmode="numeric")
                                    button.plus(type="button")
                                        i.fas.fa-plus
                                .input__info
                                    .info
                                        ul
                                            li
                                                div.size-5
                                                    | 0.35 л
                                                div
                                                div.size-5.info__price
                                                    | 600 ₽
                            .form__discaunt
                                .discount
                                    ul
                                        li
                                            div.size-5
                                                |Ваша скидка: 3%
                                            div
                                            div.size-5.discount__info
                                                |–153 ₽
                            .form__total
                                div.size-4
                                    |Итого
                                .total__price.size-2
                                    |6 630  ₽
                            .product__count.size-5
                                |за 3,20 л
                            .form__submit
                                button.btn-primary.size-4
                                    img(src="/src/assets/images/basket-mobile.svg")
                                    |В корзину

        include ../common/all-products
        include ../common/footer