.btn {
    @include flex(center, center);
    background: transparent;
    border: 0;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;

    &-primary {
        background: #429471;

        &:hover {
            background: #028260;
        }
    }

    &-secondary {
        background: #192C5A;

        &:hover {
            background: #152248;
        }
    }

}

button.btn {
    display: inline-block;
}