.btn {
    @include flex(center, center);
    background: transparent;
    border: 0;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    &:focus, &:active {
        outline: none;
    }

    &-primary {
        background: #429471;

        &:hover {
            background: #028260;
        }
    }

    &-secondary {
        background: #192C5A;

        &:hover {
            background: #152248;
        }
    }

}

button.btn {
    display: inline-block;
}

.input__primary {
    padding: 1rem 0 1rem 1.2rem;
    width: 100%;
    background: #fff;
    border: 1px solid #DDDDDD;
    border-radius: 2px;
    &:focus, &:active {
        outline: none;
    }
    &::placeholder {
        color: #DDDDDD;
    }
}
.input__label {
    margin-bottom: 4px;
}

.btn--green{
    background: $color3;
    color: #fff;
    padding: .9rem 3.2rem;
    display: inline-flex;
    font-size: 2rem;
    @include bp-md{
        font-size: 1.6rem;
    }
}
.btnwrap--green{
    display: flex;
    justify-content: center;
    margin-top: 4rem;
}
.btn--blue{
    background: $color2;
    color: #fff;
    padding: .9rem 3.2rem;
    display: inline-flex;
    font-size: 2rem;
    @include bp-md{
        font-size: 1.6rem;
    }
}
