.mfp-bg{
  background: transparent !important;
  @include bp-md {
    background: rgba(51, 51, 51, 0.25)!important;
    backdrop-filter: blur(2px);
  }
}
.mfp-container {
  @include bp-md {
    padding: 0;
  }
  &.mfp-inline-holder {
    @media screen and (max-width:900px){
      padding: 0;
    }
    .mfp-content {
      @include bp-md {
        vertical-align: bottom;
        width: 100%;
      }
    }
  }
}
.white-popup-block{
  @include bp-md {
    &:before {
      content: '';
      position: absolute;
      width: 63px;
      height: 4px;
      transform: translateX(-50%);
      left: 50%;
      top: 8px;
      background: #ECECEC;
      border-radius: 4px;
    }
  }
}
.location__wrapper {
  margin: 0 auto;
  padding: 2.4rem 4.3rem 6.5rem 3.2rem;
  width: 45rem;
  background: #fff;
  border-radius: 2px;
  @include bp-md {
    padding: 3.2rem 1.6rem 1.6rem 1.6rem;
    /*width: 32rem;*/
    width: 100%;
    border-radius: 12px 12px 0px 0px;
  }
}
.tittle__wrap {
  margin-bottom: 3rem;
  display: flex;
  align-items: center;
  @include bp-md {
    margin-bottom: 1.6rem;
  }
  h1 {
    font-family: $boldFont;
  }
  a {
    margin-left: auto;
    position: relative;
    top: 5px;
    @include bp-md {
      top: 0px;
    }
  }

}

.link__wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  @include bp-md {
    align-items: normal;
  }
  .location__item {
    padding: 5px 5px 5px 8px;
    color: $color2;
    transition: .3s;
    @include bp-md {
      border-bottom: 1px solid #DDDDDD;
      line-height: 2.5;
    }
    &:not(:last-child) {
      margin-bottom: 1.5rem;
      @include bp-md {
        margin-bottom: 0;
      }
    }
    &:hover {
      text-decoration: underline;
    }
  }

  .link__active {
    color: #fff;
    background: $color2;
    border-radius: 2px;
  }
}

.call__us__wrapper {
  margin: 0 auto;
  padding: 2.4rem 4rem 6.4rem 4rem;
  width: 61.2rem;
  background: #fff;
  border-radius: 2px;
  h3 {
    margin: 0;
  }
  @include bp-md {
    padding: 3.4rem 1.6rem 1.6rem 1.6rem;
    width: 100%;
    border-radius: 12px 12px 0px 0px;
  }
}
.call__wrapper {
  display: flex;
  flex-wrap: wrap;
  &:last-child {
    margin-bottom: 0;
  }
}
.complete__call {
  @include bp-md {
    padding: 3.4rem 1.6rem 1.6rem 1.6rem;
    width: 100%;
    border-radius: 12px 12px 0px 0px;
  }
  .tittle__wrap {
    color: #333;
    font-weight: 700;
  }
  h4 {
    font-weight: 700;
    color: #333;
    margin: 0;
  }
  p {
    color: #333;
  }
  .name__input__wrap {
    margin-right: 2rem;
  }
  .call__input {
    flex: inherit;
  }
}
.call__textarea {
  width: 100%;
  textarea {
    min-height:72px;
    resize: none;
  }
}
.call__input {
  flex: 1;
  margin-bottom:24px;
  @include bp-md {
    /*margin-top: 2.4rem;*/
    flex: auto;
  }
}
.btn-call {
  margin-top: 1.2rem;
  padding: .9rem 3.2rem;
  appearance: none;
  border-radius: 4px;
  @include bp-md {
    margin-right: 0;
    width: 100%;
  }
}
input[name="name"] {
  margin-right: 3.2rem;
}
.name__input__wrap {
  margin-right: 3.2rem;
  margin-top: 0;
  @include bp-md {
    margin-right: 0;
    width: 100%;
  }
}

.login__wrapper {
  margin: 0 auto;
  padding: 2.4rem 4rem 6.4rem 4rem;
  width: 38rem;
  background: #fff;
  border-radius: 2px;
  @include bp-md{
    padding: 3.4rem 1.6rem 1.6rem 1.6rem;
    width: 100%;
    border-radius: 12px 12px 0px 0px;
  }
}
.input__phone {
  margin-bottom: 2.4rem;
}
.miss__password {
  margin-top: 1.2rem;
  display: block;
  text-align: right;
  color: #A2A2A2;
  text-decoration: underline;
}
.reg__wrapper {
  margin-top: 2.4rem;
  display: flex;
  align-items: center;
  @include bp-md {
    flex-wrap: wrap;
  }
  .btn-call {
    margin-top: 0;
    margin-right: 4rem;
    @include bp-md {
      margin-right: 0;
      width: 100%;
    }
  }
  .reg__link__form {
    color: $color3;
    text-decoration: underline;
    @include bp-md {
      margin-top: 2.4rem;
      width: 100%;
      text-align: center;
    }
  }
}

.basket-bg .mfp-container {
  width: auto;
  height: auto;
  right: 0;
  top: 13.5rem;
  left: unset;
}
.basket-bg .mfp-content {
  width: 32rem !important;
}
.basket__wrapper {
  margin: 0 auto;
  padding: 2.4rem 0 2.4rem 0;
  width: 32rem;
  background: #fff;
  border-radius: 2px;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.16);
}
.basket_items__wrapper {
  padding: .8rem 1.6rem 1.4rem 1.6rem;
  display: flex;
  border-bottom: 1px solid #EBEBEB;

  .item__product {
    display: flex;
    flex-direction: column;
    margin-right: auto;
    max-width: 14rem;

    &__name {
      color: $color3;
      text-decoration: underline;
    }

    &__desc {
      color: $color4;
    }
  }

  .item__price {
    display: flex;

    &__value {
      margin-right: 1rem;
    }

    .diss__item {
      position: relative;
      top: 2px;
    }
    .diss__item img {
      width: 1.2rem;
      height: 1.2rem;
    }
  }
}
.basket__submit__wrapper {
  margin-top: 2.4rem;
  padding-left: 2.25rem;
  padding-right: 2.25rem;
  display: flex;
  .btn-basket {
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 4px;
  }
}
.my-mfp-zoom-in .white-popup-block {
  opacity: 0;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  -webkit-transform: scale(.8);
  -ms-transform: scale(.8);
  transform: scale(.8)
}

.my-mfp-zoom-in.mfp-ready .white-popup-block {
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1)
}

.my-mfp-zoom-in.mfp-removing .white-popup-block {
  -webkit-transform: scale(.8);
  -ms-transform: scale(.8);
  transform: scale(.8);
  opacity: 0
}

.my-mfp-zoom-in.mfp-bg {
  opacity: 0;
  -webkit-transition: opacity .3s ease-out;
  -o-transition: opacity .3s ease-out;
  transition: opacity .3s ease-out
}

.my-mfp-zoom-in.mfp-ready.mfp-bg {
  opacity: .8
}

.my-mfp-zoom-in.mfp-removing.mfp-bg {
  opacity: 0
}
.tittle__wrap {
  .tittle__wrap--title {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 22px;
    letter-spacing: 0.01em;
    color: #333333;
  }
}
.sort-mobile-wrapper {
  display:flex;
  flex-direction: column;
}
.sort-mobile-wrapper a {
  img {
    margin-right: 1rem;
  }
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  display: flex;
  align-items: center;
  letter-spacing: 0.01em;
  color: #333333;
  padding: 14.5px 0 12.5px;
  border-bottom: 1px solid #DDDDDD;
}

.category__wrapper {
  margin: 0 auto;
  padding: 2.4rem 4rem 6.4rem 4rem;
  width: 89.4rem;
  background: #fff;
  border-radius: 2px;
  @include bp-md {
    padding: 3rem 1.6rem;
    width: 32rem;
  }
}
  .category__items {
    display: flex;
    flex-wrap: wrap;

    .cat__item {
      margin-bottom: 3.2rem;
      padding: 2.4rem 1.4rem;
      border: 1px solid #EBEBEB;
      border-radius: 2px;
      max-width: calc(25% - 3rem);
      flex-grow: 1;
      cursor: pointer;

      &:hover {
        border: 1px solid #A2A2A2;
      }

      &:not(:nth-child(4n+4)) {
        margin-right: 3rem;
      }

      &:hover h4 {
        text-decoration: underline;
      }
      h4 {
        margin: 0;
        font-weight: 400;
      }
      p {
        color: #A2A2A2;
      }
    }
    }

.back__modal {
  display: flex;
  align-items: center;

  img {
    margin-right: 1rem;
  }

  span {
    color: $color3;
  }
}

.modal__search-wrap {
  display: flex;
  justify-content: space-between;
}

.search-wrap {
  display: flex;
  align-items: center;
  padding: .8rem;
  border: 1px solid #DDDDDD;
  border-radius: 4px;
  background: #fff;

  .modal__button, .modal__search {
    background: transparent;
    border: 0;
  }

  .modal__search {
    font: 400 1.6rem $mainFont;

    &:active, &:focus {
      outline: none;
    }
  }
}

.popup__color-item {
  position: relative;
  flex-shrink: 0;
  z-index: 1;
  transition: .3s;

  &:not(:nth-child(5n+5)) {
    margin-right: 1rem;
  }

  &:hover {
    transform: scale(1.2);
    padding: .2rem;
    box-shadow: (0px 2px 12px rgba(0, 0, 0, 0.32));
    background: #fff;
  }

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background: rgba(0,0,0,0);
    z-index: -1;
  }
}

.active__palette {
  z-index: 10;
}

.palette__items {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;

  .cat__item {
    margin-bottom: 1rem;
    width: 15.2rem;
    height: 9.5rem;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    position: relative;
    overflow: hidden;
    transition: all .2s ease;
    cursor: pointer;

    &-segment {
      display: block;
      position: relative;
      margin-bottom: 1px;
      margin-right: 1px;
      width: 18px;
      height: 18px;
      overflow: hidden;

      &:before {
        content: "";
        display: block;
        background: #dcdcdc;
        width: calc(100% - 1px);
        height: calc(100% - 1px);
      }
      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: 100%;
      }
    }


  }
}

.modal__warning {
  margin-top: 3rem;
  display: flex;
  align-items: center;
  img {
    margin-right: 1rem;
  }
  p {
    color: #757575;
  }
}

.color__items {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  max-height: 52rem;
  overflow: hidden;
  overflow-y: scroll;

  .img__item {
    margin-bottom: 1rem;
    max-width: calc(12.5% - 1.2rem);
    background: #EBEBEB;
    flex-grow: 1;
    transition: .3s;
    cursor: pointer;

    img {
      width: 100%;
    }

    &:hover {
      transform: scale(1.2);
    }

    &:not(:nth-child(8n+8)) {
      margin-right: 1rem;
    }

    .item__name {
      padding: .8rem;
      background: #EBEBEB;
    }
  }
}

.cat__pol__wrap {
  position: relative;
}
.polette__dismiss {
  position: absolute;
  top: 8%;
  right: 5%;
  text-align: center;
  img {
    max-width: 100%;
    width: auto !important;
  }
  p {
    color: #fff;
  }
}
.palette__usefull {
  pointer-events: none;
}

::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #F5F5F5;
  border-radius: 4px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #DDDDDD;
  border-radius: 4px;
}
