.mainpage-carousel__title{
	margin-top: 0;
}
.mainpage-carousel__btn{
	padding: 1.5rem 3.2rem;
	font-size: 2rem;
	display: inline-flex;
	margin-top: auto;
	background: $color2;
	width: 24rem;
	&:hover {
		background: #152248;
	}
	@include bp-md{
		font-size: 1.6rem;
		width: 100%;
	}
}
.mainpage-carousel__text-wrap {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.mainpage-carousel__text{
	display: block;
}
.mainpage-carousel__text{
	color: $color7;
	font-size: 2.4rem;
	margin-bottom: 7rem;
	@include bp-md{
		font-size: 1.6rem;
	}
}
.mainpage-carousel__title{
	color: #fff;
	font-size: 6rem;
	margin-bottom: 0;
	max-width: 40rem;
	line-height: 1;
	margin-bottom: 3rem;
	@include bp-md{
		max-width: 100%;
		font-size: 3.2rem;
	}
}
.mainpage-carousel__img{
	display: flex;
	align-items: center;
	padding: 8rem 10rem;
	height: 48rem;
	background-size: cover;
	background-repeat: no-repeat;
	@include bp-md{
		display: block;
		padding: 2.5rem 2.6rem;
		height: 28.8rem;
	}
}

.banner__slider {
	padding-bottom: 4.6rem;
}

.slider {
	width: 100%;
	height: 100%;
	display: flex;
	overflow: hidden
}

.slider.owl-loaded {
	overflow: visible
}

.slider .owl-dots {
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	justify-content: center;
	margin-top: 15px;
	margin-bottom: 15px;
	background: url("/src/assets/images/sprite.svg#best_sell");
}

.slider .owl-dot {
	position: relative;
	display: block;
	margin-right: 0;
	width: 2.8rem;
	height: 2.8rem;
	outline: none;
}

.slider .owl-dot:last-child {
	margin-right: 0
}

.slider .owl-dot svg {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 28px;
	height: 28px
}

.slider .owl-dot.active svg .bar {
	stroke: #DDDDDD;
	stroke-width: 2px
}

.slider .owl-dot.active svg .progress {
	stroke: #192C5A;
	stroke-width: 2px
}

.slider .owl-dot svg .dot {
	fill: #DDDDDD;
}
.slider .owl-dot.active svg .dot {
	fill: #192C5A;
}
