.mainpage-carousel__title{
	margin-top: 0;
}
.mainpage-carousel__btn{
	padding: 1.5rem 3.2rem;
	font-size: 2rem;
	display: inline-flex;
	background: $color2;
	@include bp-md{
		font-size: 1.6rem;
		width: 100%;
	}
}
.mainpage-carousel__text{
	display: block;
}
.mainpage-carousel__text{
	color: $color7;
	font-size: 2.4rem;
	margin-bottom: 7rem;
	@include bp-md{
		font-size: 1.6rem;
	}
}
.mainpage-carousel__title{
	color: #fff;
	font-size: 6rem;
	margin-bottom: 0;
	max-width: 40rem;
	line-height: 1;
	margin-bottom: 3rem;
	@include bp-md{
		max-width: 100%;
		font-size: 3.2rem;
	}
}
.mainpage-carousel__img{
	display: flex;
	align-items: center;
	padding: 8rem 10rem;
	@include bp-md{
		display: block;
		padding: 2.5rem 5rem;
	}
}

.owl-theme .owl-dots .owl-dot span{
	background: $color2;
	border: 0.3rem solid #E5E5E5;
	transition: all .2s;
	margin: 0;
}
.owl-theme .owl-dots .owl-dot{
	margin: 0.2rem 0.7rem;
	outline: none;
	transition: all .2s;
	border: 3px solid rgba(0,0,0,0);
	border-radius: 50%;
}
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span{
	background: $color2;
}
.owl-theme .owl-dots .owl-dot.active {
	animation-duration: 10s;
	animation-name: circle;
	animation-iteration-count: 1
}
.owl-theme .owl-dots .owl-dot.active ~ .owl-dot span{
	background: #DDDDDD;
}
.owl-theme .owl-dots .owl-dot.active ~ .owl-dot:hover span{
	background: $color2;
}
.owl-theme .owl-dots .owl-dot span{
	width: 2rem;
	height: 2rem;
}
.owl-theme .owl-nav.disabled+.owl-dots{
	margin-top: 1rem;
}
.owl-carousel-custom__img{
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

@keyframes circle {
	0% {
		border-top: 3px solid $color2;
	}
	33% {
		border-top: 3px solid $color2;
		border-right: 3px solid $color2;
	}
	66% {
		border-top: 3px solid $color2;
		border-right: 3px solid $color2;
		border-bottom: 3px solid $color2;
	}
	100% {
		border-top: 3px solid $color2;
		border-right: 3px solid $color2;
		border-bottom: 3px solid $color2;
		border-left: 3px solid $color2;
	}
}